[2022-08-05 20:32] Debajyoti14 opened #106 "UI Fixes"
### Upcoming Events Card Responsive issue for Mobile View

- [x]  Make a different layout for UpcomingEvent below 1024px
- [x]  adjust speaker name size for mobile screen
- [x]  Right side of the mobile view padding needs to be adjusted

- [x]  All blue button checks only blue-btn class should be there

### [event_id] page

- [x]  Instructor/speaker grid should be responsive properly

### Footer

[2022-08-06 07:30] Rajdip019 opened #110 "Make Event Page as in the Figma Design"
There is more spacing and the UI looks much more neat and clean in design. @Kingshuk3006

[2022-08-06 07:35] Rajdip019 opened #111 "Add Delete Modal"
Before deleting a project from the Admin panel of a user. There should be a confirmation pop-up if he wants to delete it or not!

You can see pop-ups build by @Debajyoti14 in the components section. (Use the same code pass the id there and delete it.)

@Kingshuk3006

[2022-08-06 08:08] Rajdip019 opened #113 "Snackbar not Closing"
After adding the project snack bar is not dismissed!

[2022-08-06 08:09] Rajdip019 opened #114 "Admin Panel Security"
Admins can only view the pages under the admin route and can only add edits or see the admin panel.

[2022-08-06 08:23] Roshaen opened #115 "More Login options"
Implementation of sign in option using Github and Twitter

[2022-08-06 08:35] Roshaen opened #116 "Implement dark mode"
The whole UI is build with Tailwind CSS and Material UI. All you need to do is write the main logic of dark mode in a .ts file and implement a button that changes the whole website mode to dark mode.

There will be three type of modes.
- Dark mode
- Light mode
- System Default

The actual conversion from light to dark mode will be done separately. You just need to make the button that changes the

[2022-08-06 09:05] Roshaen opened #117 "autocompletes in form"
Populate data of autocomplete in edit profile section

- [x] Tech stacks
- [ ]  Collage names

[2022-08-06 10:30] Rajdip019 commented on #113
Solved #118

[2022-08-06 10:30] #113 closed

[2022-08-06 12:04] Rajdip019 commented on #114
Done in this PR #120

[2022-08-06 12:04] #114 closed

[2022-08-06 12:04] Rajdip019 commented on #117
@Roshaen Techstack added in this PR #119 college will be there in the next build. So closing this issue now. And open a new issue with college one.

[2022-08-06 12:04] #117 closed

[2022-08-06 20:31] Kingshuk3006 commented on #106
Event Page can't load due to lenght 0.add some data.

[2022-08-07 04:16] Rajdip019 commented on #106
There is data! ask @Debajyoti14 , @Kingshuk3006

[2022-08-07 04:23] Debajyoti14 commented on #106
There is data.
I can see an event in https://clueless-dev.vercel.app/events
@Kingshuk3006

[2022-08-07 04:41] Rajdip019 opened #121 "There is no Date on mobile version of the event card!"
Fix that @Debajyoti14 and if possible clean the UI a bit.

[2022-08-07 07:48] Debajyoti14 commented on #121
Date field added in Event Card
dev pr #122

[2022-08-07 07:48] #121 closed

[2022-08-07 08:08] Rajdip019 opened #123 "Need a small documentation for the Official Website."
- What is Clueless? With some pictures.
- What is our aim?
- People working on it.
- Link to projects we are building under ClueLess
- A link to how to set up this project in the local System. (If Someone wants to contribute) . That readme will be built by @Debajyoti14 probably.

[2022-08-07 08:11] Rajdip019 opened #124 "Local system environment setup"
Write a proper note on how one can set up this project in his local machine.

We don't need to give the env there but we can ask them to drop a mail to the Official ClueLess email for the env and we will send the env after validation.

See the documentation of Booklee to know how to document the env part.

[2022-08-07 08:27] nikhil25803 commented on #123
On it :)

[2022-08-07 08:35] Kingshuk3006 commented on #110
Done

[2022-08-07 11:01] Rajdip019 commented on #106
Closing this issue as it is solved. @Kingshuk3006

[2022-08-07 11:01] #106 closed

[2022-08-07 11:19] Debajyoti14 commented on #124
local_env_setup_guide.md has been configured

[2022-08-07 11:41] Rajdip019 opened #127 "Remove all the dummy data and also all the imports"
Don't forget to remove all the imports of the dummy data files otherwise, deployment is going to crash.

[2022-08-07 11:42] Rajdip019 commented on #124
Done for now! @Debajyoti14

[2022-08-07 11:42] #124 closed

[2022-08-07 11:49] Rajdip019 opened #128 "Build edit event page in the admin section"
This page edits the data of the existing event.

This is a cool one to do because it has some cool front-end as well as some backend and logical things going on!

Ask @Debajyoti14 if you need help in this one.

And you can take a reference of the edit profile page to get how these types of things are done. We need to get this done before Tuesday!

@Kingshuk3006

[2022-08-07 11:50] Rajdip019 opened #129 "Build admin dashboard"
Build the admin dashboard in the Figma design.

Page Name : Dashboard

[Figma Link](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

[2022-08-07 11:52] Rajdip019 opened #130 "Build the event description page in Dashboard Admin"
You can check out the Figma file for checking.

Page name:  Event Description.

[Figma Link](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

[2022-08-07 11:54] Rajdip019 commented on #123
Make sure to make the PR in the Dev branch, not in the main branch. @nikhil25803

[2022-08-07 11:58] nikhil25803 commented on #123
Okay

[2022-08-07 12:05] Rajdip019 opened #131 "Event card UI Fixes"
Need some Spacing here. at different screen sizes.

![Screenshot 2022-08-07 173057](https://user-images.githubusercontent.com/91758830/183289563-6dc67ad2-74da-4102-af73-8d402aacee79.jpg)

And also here.
![Screenshot 2022-08-07 173139](https://user-images.githubusercontent.com/91758830/183289571-262e4c52-2277-4af2-ad27-aaa43eb3126d.jpg)

We need to get this event card perfect by today!

[2022-08-08 01:26] erum-hassan commented on #131
**Can i take **

[2022-08-08 07:48] Rajdip019 commented on #131
It's already assigned to @Kingshuk3006, if he doesn't do it you can take it. @erum-hassan

[2022-08-08 08:28] Kingshuk3006 commented on #128
Routing left to do properly

[2022-08-08 10:29] Rajdip019 opened #133 "Event Page Header"
The Header should be Clueless | Events for the all events page and for a particular Event page, this should be [The event name]. And when shared that page should also show the Logo of the event.\

Here is a reference for what you need to change!
![Screenshot 2022-08-08 155647](https://user-images.githubusercontent.com/91758830/183397826-2ef9a4fd-ef4f-42b0-87e7-644b1246f13e.jpg)

[2022-08-08 10:48] Rajdip019 commented on #127
Closing this issue as it is done! @Kingshuk3006

[2022-08-08 15:35] Debajyoti14 opened #134 "Event Null state"
When no event data is there, there should be an empty state stating "There are no Events currently" alongside an SVG.

[2022-08-08 20:00] Kingshuk3006 commented on #133
for share link, need some reference.

[2022-08-08 20:53] Rajdip019 commented on #131
Closing this issue as it is fixed now! @Kingshuk3006

[2022-08-08 20:53] #131 closed

[2022-08-08 20:54] Rajdip019 commented on #133
Quick fix for the event page it's right now " Clueless | Session Zero ". Instead we just want " Session Zero ". @Kingshuk3006

[2022-08-08 20:55] Rajdip019 commented on #134
Can you make a quick Figma design for reference with 3d SVG, we are using @Debajyoti14

[2022-08-08 21:27] Rajdip019 commented on #111
Use a modal instead of a Dialogue box to achieve paddings and better styling! @Kingshuk3006

![Screenshot 2022-08-09 025554](https://user-images.githubusercontent.com/91758830/183517616-b703631a-3443-440f-84a8-1316d4787fbe.jpg)

[2022-08-08 21:29] Rajdip019 commented on #110
3rd point is already done @Kingshuk3006. You can work on first two points

[2022-08-08 21:29] Rajdip019 commented on #133
Fixed this one myself no problem @Kingshuk3006 . So closing the issue.

[2022-08-08 21:29] #133 closed

[2022-08-09 04:45] Rajdip019 commented on #127
Reopening this as dummyData files are still not removed. @Kingshuk3006

[2022-08-09 05:50] Kingshuk3006 commented on #111
![modal](https://user-images.githubusercontent.com/93638401/183574336-f81431ae-484a-439d-8265-85e30567a4cd.png)
the dialog seem to have fixed padding in my end.

[2022-08-09 06:10] Rajdip019 commented on #111
You have padding for MUI paper element in global CSS, you have to remove that because it's only for this modal not global. It breaks all the menu and other modals.

Take the latest pull from dev.

@Kingshuk3006

[2022-08-09 06:37] Debajyoti14 commented on #134
Design has been done

[2022-08-09 06:42] Rajdip019 commented on #134
Use an image without a watermark. And also add more events on the way in the text part. @Debajyoti14

[2022-08-10 12:04] Rajdip019 opened #137 "Make a plan or hand drawn UI how we can show our Tools"
@Roshaen

[2022-08-10 12:06] Debajyoti14 commented on #134
Event Null state feature is added by me
Go and check
if everything's good, close this issue @Rajdip019

[2022-08-10 12:09] Rajdip019 commented on #134
This one right? #138 @Debajyoti14

[2022-08-10 12:38] Rajdip019 opened #139 "Event page broken"
See this @Debajyoti14 @Kingshuk3006

![Screenshot 2022-08-10 180746](https://user-images.githubusercontent.com/91758830/183903174-1b49b50a-7f9e-4a69-bc51-7f1807d06efa.jpg)

[2022-08-10 12:39] Rajdip019 commented on #134
Closing this as its working fine.

[2022-08-10 12:39] #134 closed

[2022-08-11 02:54] Rajdip019 opened #142 "Admin Events Card"
There should be two different cards AdminEvent card and a normal event card. @Kingshuk3006

Two routes also :
- /admin/events should show the AdminEvent Card where would be functionalities like Edit and Delete events
- /events route should have a normal event card with only a view option for normal users.

![Screenshot 2022-08-11 082049](https://user-images.githubusercontent.com/91758830/184057009

[2022-08-11 02:59] Rajdip019 opened #143 "Delete Option on admin event Card"
There should be a delete button also so that admins can delete the Event as well.

Add a modal also for confirming deletion and ask them to write DELETE before the delete button becomes enabled and he could delete the event.

[2022-08-12 05:22] Rajdip019 opened #144 "Modal Improvement"
We need to improve the modals as well in the Figma design.

Here is link to the Figma File. (Page name Popups in High Fidelity)

[Figma File Link](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=288%3A3745) ◀️

[2022-08-12 05:22] Rajdip019 opened #145 "Ticket Modal"

[2022-08-12 06:48] Rajdip019 opened #146 "Add Upcoming Events section to Home page"
See the Figma file Link [Link Figma](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=288%3A3745)

And Only build the Upcoming Events section now!

[2022-08-12 06:52] Rajdip019 commented on #111
This is finished so closing this Issue.

[2022-08-12 06:52] #111 closed

[2022-08-12 06:52] Rajdip019 commented on #111
This is finished so closing this Issue. @Kingshuk3006

[2022-08-12 06:54] Rajdip019 commented on #110
Can you look into this one @Debajyoti14 . Just need some vertical space. On this page and else is good to go I guess. And the 2nd point will also be done when we will apply the view ticket section.

[2022-08-12 06:55] Rajdip019 commented on #139
I guess this one is fixed just need some vertical space. @Debajyoti14 will check that I guess. So closing this issue.

[2022-08-12 06:55] #139 closed

[2022-08-12 06:57] Rajdip019 commented on #123
Can we finish this by today? The how to setup this is local system, ReadMe is already build by @Debajyoti14 . So you just need to link that one here as well. @nikhil25803

[2022-08-12 06:58] Rajdip019 commented on #128
I guess this one is done properly so closing this issue as well. @Kingshuk3006

[2022-08-12 06:58] #128 closed

[2022-08-12 07:03] Rajdip019 commented on #127
There is one dummy data file left I guess do that one first. @Kingshuk3006

[2022-08-12 07:04] Rajdip019 opened #147 "Loader in Edit Event Menu"
We need a loader for the edit event menu. @Kingshuk3006

[2022-08-12 07:05] Rajdip019 commented on #142
I am working on it leave it for now @Kingshuk3006

[2022-08-12 07:25] #127 closed

[2022-08-12 08:05] Rajdip019 commented on #145
If Rohit is not able to make the vertical version of the ticket then for now just place the elements of the ticket in a vertical manner in smaller screen sizes. @Debajyoti14

[2022-08-12 08:15] Debajyoti14 opened #149 "Event Mode Field in Event Model"
There should be a field named event mode with offline/online options

[2022-08-12 08:36] Debajyoti14 commented on #149
Yes @Rajdip019

[2022-08-12 08:38] Rajdip019 commented on #149
I am doing the multiple auth and trying to make a callback function for to redirect user to the page where they were before and not in the Homepage. I will look into this after that if you work on this before that then tell me @Debajyoti14

[2022-08-12 08:48] Debajyoti14 commented on #145
Ticket Modal is done for wider screen
Mobile design is yet to be made
#150

[2022-08-12 08:50] Rajdip019 commented on #145
Make the mobile version too and then make a PR just place the items vertically and this should do the work. @Debajyoti14

[2022-08-12 09:30] Rajdip019 opened #151 "Mobile View Hamburger Isuue"
The Avatar and the hamburger menu should not be together in the Navbar in the mobile View!

Also we need to ass that section to the below of the Hamburger menu where all info of the User will be shown!

[2022-08-12 12:36] Rajdip019 commented on #151
Closing this one as this is solved.

[2022-08-12 12:36] #151 closed

[2022-08-12 12:46] Rajdip019 commented on #145
Need some space here and also this should be aligned as per shown in the image @Debajyoti14

<img width="1034" alt="Screenshot 2022-08-12 at 6 13 11 PM" src="https://user-images.githubusercontent.com/91758830/184356673-90f467da-dd0c-432e-bc92-a205a7c8a53b.png">

[2022-08-12 12:51] Rajdip019 commented on #115
More login Options also Done for dev environment. You can check.  @Roshaen

Closing this issue.

[2022-08-12 12:51] #115 closed

[2022-08-12 13:29] nikhil25803 commented on #123
I'll do it by tonight. Will it work?

[2022-08-12 13:32] Rajdip019 commented on #123
Sure it will work. @nikhil25803

[2022-08-12 18:35] Rajdip019 commented on #142
This solved.

[2022-08-12 18:35] #142 closed

[2022-08-12 18:35] Rajdip019 commented on #110
This event is solved nice work @Kingshuk3006

[2022-08-12 18:35] #110 closed

[2022-08-12 18:36] Rajdip019 commented on #143
This is solved nice work @Kingshuk3006

[2022-08-12 18:36] #143 closed

[2022-08-12 18:36] Rajdip019 commented on #144
Done. Nice work @Kingshuk3006

[2022-08-12 18:36] #144 closed

[2022-08-12 18:36] Rajdip019 commented on #146
This is also done.

[2022-08-12 18:36] #146 closed

[2022-08-12 18:37] Rajdip019 commented on #147
Loader also added nice work @Kingshuk3006

[2022-08-12 18:37] #147 closed

[2022-08-12 20:22] Debajyoti14 commented on #149
Added Event Mode Field

[2022-08-12 20:22] #149 closed

[2022-08-16 04:38] Rajdip019 opened #164 "Apply check in Contact form"
In the contact us form there is no check. Users can only contact when they are signed In and fill all the fields in the form.

Till then the button should be disabled.

I guess you can do it @Kingshuk3006

[2022-08-16 07:06] Akidane47 commented on #164
If this is still available and open-source I'd also like to be assigned.

[2022-08-16 07:11] Rajdip019 commented on #164
Sure go ahead. You are assigned. @Akidane47

[2022-08-16 07:17] Akidane47 commented on #164
What are the setup instructions? I clicked on the link in the README file but it caused a 404 error

[2022-08-16 07:21] Rajdip019 commented on #164
Try now I have changed it now. And also you don't need to set up an env for this. So you can skip that part too. @Akidane47

[2022-08-19 14:53] Rajdip019 commented on #164
Hey are you still working on this @Akidane47 ?

[2022-08-19 15:49] Akidane47 commented on #164
Yes sorry was having some trouble with setting up credentials but it's
fixed now, will be sending my version later today

On Fri, Aug 19, 2022 at 7:53 AM Rajdeep Sengupta ***@***.***>
wrote:

[2022-08-20 04:15] Rajdip019 commented on #164
No worries! Take your time. @Akidane47 .

[2022-09-03 16:35] Rajdip019 opened #165 "Fix code scanning alert - Client-side cross-site scripting"
Tracking issue for:
- [ ] https://github.com/Clueless-Community/clueless-official-website/security/code-scanning/26

[2022-09-04 17:56] Rajdip019 opened #166 "Fix code scanning alert - Client-side cross-site scripting"
Tracking issue for:
- [ ] https://github.com/Clueless-Community/clueless-official-website/security/code-scanning/25

[2022-09-29 04:47] #166 closed

[2022-09-29 04:47] #165 closed

[2022-09-29 04:47] Rajdip019 opened #167 "Build leaderboard page in ClueLess Website."

[2022-09-29 04:48] Rajdip019 commented on #164
Is this completed? @Akidane47

[2022-09-30 07:16] #123 closed

[2022-09-30 07:16] #129 closed

[2022-09-30 07:16] #137 closed

[2022-09-30 07:25] #130 closed

[2022-09-30 07:25] #167 closed

[2022-09-30 07:42] Rajdip019 opened #168 "Make the admin Projects card UI Component"
Just need to revamp the UI of the Project Admin card.

Need to implement this design.

<img width="578" alt="Screenshot 2022-09-30 at 1 07 22 PM" src="https://user-images.githubusercontent.com/91758830/193217613-e055975a-97dc-4418-a955-3b7bb1bf5944.png">

Here is a link to the Figma File.
[Figma File](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

[2022-09-30 07:44] Rajdip019 opened #169 "Make Profile Project Card Component"
Just need to revamp the UI of the Project card.

Need to implement this design.

<img width="563" alt="Screenshot 2022-09-30 at 1 07 41 PM" src="https://user-images.githubusercontent.com/91758830/193218181-afa57dab-2c96-430d-acae-b94c03bc140e.png">

Here is a link to the Figma File.
[Figma File](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

[2022-09-30 07:45] Rajdip019 opened #170 "Change the current Add Project section according to the new UI"
Just need to revamp the UI of the Add project.

Need to implement this design.

<img width="186" alt="Screenshot 2022-09-30 at 1 07 32 PM" src="https://user-images.githubusercontent.com/91758830/193218578-58bd2e01-34af-4e52-b606-a5d918c7a3b8.png">

Here is a link to the Figma File.
[Figma File](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

[2022-09-30 07:46] Rajdip019 opened #171 "Implement the new Profile Design"
Just need to revamp the UI of the Profile Section.

Need to implement this design.

<img width="437" alt="Screenshot 2022-09-30 at 1 16 05 PM" src="https://user-images.githubusercontent.com/91758830/193219011-e8da2f84-5950-4b86-abdb-c8d9065e566f.png">

Here is a link to the Figma File.
[Figma File](https://www.figma.com/file/QJdOAP9EB3CbiK3dOiOfaL/ClueLess?node-id=204%3A5014)

**Note** : This will

[2022-09-30 07:48] Sayak-singha commented on #169
Should there be only 3 cards at a time??

[2022-09-30 07:52] Rajdip019 commented on #169
No it will be decided by the amount of projects the user has added, which directly comes from Firebase Firestore.

It will be component.

@Sayak-singha

[2022-09-30 13:59] iks1 commented on #170
can you assign this to me ?

[2022-09-30 14:33] Rajdip019 commented on #170
Yes, go ahead!

[2022-10-01 04:30] ridhig16 commented on #164
If this is still available and open-source I'd also like to be assigned and can u tell me more about this issue

[2022-10-01 04:34] Rajdip019 commented on #164
Yes sure I will assign you.

what you need to do is just make the 'submit' button disable until all the fields are filled. @ridhig16

[2022-10-01 07:58] ken1000minus7 commented on #169
Hey @Rajdip019 I would like to work on this issue 😇

[2022-10-01 07:59] Rajdip019 commented on #169
Sure assigning you this issue. @ken1000minus7

[2022-10-01 09:11] boredcity commented on #168
isn't it just a Profile Project card from [this](https://github.com/Clueless-Community/clueless-official-website/issues/169) issue?

if there are some underlying differences, I'd be happy to work on this.

[2022-10-01 11:16] arun-kushwaha04 commented on #171
Hey @Rajdip019 can I work on this issue ?

[2022-10-01 11:54] Rajdip019 commented on #171
Yes once the cards are finished we can start working on this.

[2022-10-01 17:22] Rajdip019 commented on #168
This is the admin card and that one is the normal card for visitor view. This card is a bit difficult as there is an edit modal attached to it.

@boredcity .

If you want to work on this please confirm. I will assign you!

[2022-10-01 17:31] boredcity commented on #168
Oh, now I see, thank you!

Would it still make sense to wait until the Profile Project Card is ready to reuse the code?

I can work on the modal for now and then merge it with the card component (and add the edit button as well) if this makes sense to you. 👍

[2022-10-01 17:42] Rajdip019 commented on #168
The modal is already built. I am assigning you the issue for now. You can wait for the profile card to be finished and the re-use the code. @boredcity

[2022-10-01 18:28] akebu6 commented on #164
This issue seems to not be assigned to anyone, can I have it assigned to me if that is the case?

[2022-10-01 22:40] VividhPandey003 opened #181 "Enhancement: Write an issue template"
At present, there is no issue template in the clueless-official-website as well as other repositories of Clueless-Community.
In order for beginners in the field of OpenSource to enjoy working together, we need an Issue template.
Adding an issue template would promote Contribution as well as will make the work easy for maintainers to read the issues.

If this issue sounds valid, I would love to wor

[2022-10-02 05:18] Rajdip019 commented on #181
Hey, @VividhPandey003 . It's a great idea. Surely you can work on this, Can you give a brief overview of the issue template you are thinking to add?

[2022-10-02 05:28] Rajdip019 commented on #164
Yes sure. Go ahead! @akebu6

[2022-10-02 05:59] Yash-Parwani commented on #171
Hey, @Rajdip019  can I also work on this issue?

[2022-10-02 07:10] AKACHI-4 commented on #116
Hey @Rajdip019  Can I work on this issue Plz assign it to me so I can generate PR as soon as possible

[2022-10-02 07:20] Rajdip019 commented on #171
As this is on first come first serve basis @arun-kushwaha04 will get to work on this issue first. But we will be adding more issues by today night.

Also if you find any bug or want to enhance something on the website you can always open an issue for that. @Yash-Parwani

[2022-10-02 07:20] Rajdip019 commented on #116
Sure. you are assigned.

[2022-10-02 07:59] VividhPandey003 commented on #181
Hey @Rajdip019, I was thinking to divide it into different readmes' like bug report, feature request etc. What are your views regarding this

[2022-10-02 08:28] arun-kushwaha04 commented on #171
@Rajdip019 thanks for assign this to me. I will start working on this on.

[2022-10-02 09:20] Rajdip019 commented on #181
Yes we can do that. Let's do this I am assigning you the issue.

[2022-10-02 09:23] nihal-soni opened #182 "Make changes in Navbar for better user Interface🎏"
🐞 Problem
I saw Your Website or I thought that  we can improve navbar better and toggle button for day and night theme.🎗

🎯 Goal
And this change will be very helpful for you , by changing this thing, your website will start looking user friendly, whoever will visit your website , will going to feel that what a cool website.

💡 Possible solutions
we can change the navbar styling by adding day and n

[2022-10-02 09:53] VividhPandey003 commented on #181
Thanks a lot. I'll submit a Pull Request soon

[2022-10-02 10:20] VividhPandey003 commented on #181
Hey @Rajdip019 , I've made a Pull request. Please review it once. Also another doubt, should I add pull request template as well as another commit in this pull request.

[2022-10-02 10:30] Debajyoti14 commented on #182
Can you share with us the design of the navbar by creating it in Figma?
Then we can proceed further @nihal-soni

[2022-10-02 10:46] Debajyoti14 opened #184 "Icons overlapping in What is Clueless section"
## Icons are overlapping in the What is Clueless Section for 14-inch Laptop Screens

### Just separate the icons so that it does look good for all screen sizes 👍️

![Screenshot from 2022-10-02 16-06-24](https://user-images.githubusercontent.com/91759192/193449786-d67f19df-13e3-4fa5-a196-91286ea8c2a1.png)

[2022-10-02 10:50] nihal-soni commented on #182
yes ofcourse its my pleasure

[2022-10-02 10:50] rahul-n18 commented on #184
Could you elaborate a bit

[2022-10-02 10:50] nihal-soni commented on #182
and i would like to contribute to the project @Debajyoti14

[2022-10-02 10:52] Debajyoti14 commented on #182
Fine @nihal-soni.
I'm assigning this issue to you.
Let's first make the layout in Figma & then implement this.👍️

[2022-10-02 10:54] nihal-soni commented on #182
Thank-you so much

I will Do my Best😊

[2022-10-02 10:57] Debajyoti14 opened #185 "All Section width in hacktoberfest page needed to be the same"
## As you can see from the screenshot attached below, The uniformity in the layout needs to be maintained.

### play with the width or padding to fix this issue 👍️

![Screenshot from 2022-10-02 16-18-58](https://user-images.githubusercontent.com/91759192/193450292-0d203174-d0e5-4b0b-a7d2-f80c7fb417df.png)

[2022-10-02 11:03] Debajyoti14 opened #186 "Techstack icons should be center alligned"
### From 768px to 1024px, The Techstack icons needs to be center alligned

![Screenshot from 2022-10-02 16-29-29](https://user-images.githubusercontent.com/91759192/193450640-6d440854-ab18-46bf-8e7f-83e66478ba4a.png)

[2022-10-02 11:05] Skysparko commented on #185
can i work on it?

[2022-10-02 11:06] heisdinesh commented on #186
can i work on this issue @Debajyoti14

[2022-10-02 11:08] Debajyoti14 opened #187 "Change the SVG as it is overlapping with the background"
### Find a better SVG that matches the theme of the website and replace it with the previous one so that it goes well with the dark background.

![image](https://user-images.githubusercontent.com/91759192/193450858-5172fa9c-2b70-420b-9b8f-a50978c36c4d.png)

[2022-10-02 11:09] Debajyoti14 commented on #186
Sure go for it 👍
Assigning it to you.

[2022-10-02 11:10] Debajyoti14 commented on #185
Yup👍
Assigning it to you.

[2022-10-02 11:14] PrinceX04 commented on #187
Can i work on this issue?

[2022-10-02 11:17] nihal-soni commented on #182
How much Time I have to this Bhaiya....

[2022-10-02 11:19] Debajyoti14 commented on #182
There's no such limit.
Just make sure you complete this within appropriate time.

[2022-10-02 11:20] nihal-soni commented on #182
ok

[2022-10-02 11:21] Debajyoti14 opened #188 "Fix spacing issues in Hacktoberfest Page"
### 1. Top & Bottom spacing of Guidelines needed to fix appropriately.
![image](https://user-images.githubusercontent.com/91759192/193451085-8c0bf4b0-3a77-487d-b07b-55712de75e06.png)

### 2. The bottom padding needs to be fixed.
![image](https://user-images.githubusercontent.com/91759192/193451109-9411fe5d-e358-4036-9f9a-3e6bd46b96f6.png)

### 3. The space between Read More button & SVG needs to b

[2022-10-02 11:22] Debajyoti14 commented on #187
Okay!
Assigning it to you 👍️

[2022-10-02 11:24] Debajyoti14 commented on #184
As you can see in the picture
The top two icons are getting overlapped with each other for small-screen laptops.
What you have to do is just space out these two icons for that specific screen so that the UI looks better

[2022-10-02 11:25] anirudh-bukka commented on #188
I want to work on this.

[2022-10-02 11:29] Debajyoti14 commented on #188
Yup👍️
Assigning it to you.

[2022-10-02 11:31] Anshumansengar commented on #188
Hey, Can you assign me if it is not yet fixed? I would like to work on it.

[2022-10-02 11:33] rahul-n18 commented on #184
Assign me ill do it

[2022-10-02 11:35] Debajyoti14 commented on #188
@Anshumansengar don't worry.

@anirudh-bukka is assigned now. If the issue remains after the pr of Anirudh. We will assign it to you.

Till then look into other repos and contribute 👍

[2022-10-02 11:36] Debajyoti14 commented on #184
Assigned it to you👍

[2022-10-02 11:38] PrinceX04 commented on #187
@Debajyoti14 Can you help me with where i have to save this file and make a PR for the same.

[2022-10-02 12:06] DireWolf707 commented on #187
Pls assign
So I can start working on it !
Thx

[2022-10-02 16:18] anirudh-bukka commented on #188
Hey @Debajyoti14 , can you pls link the page that needs to be fixed? I'm unable to find the exact page.

[2022-10-02 16:23] Debajyoti14 commented on #188
https://www.clueless.tech/hacktoberfest
This is the link

[2022-10-02 17:03] anirudh-bukka commented on #188
Hey @Debajyoti14 can you assign it to anyone else?

Ambushed with assignments and mid term.

[2022-10-02 18:51] Rajdip019 commented on #181
Sure @VividhPandey003

[2022-10-02 19:30] Rajdip019 commented on #169
Closing this issue as it is done. @ken1000minus7

[2022-10-02 19:30] #169 closed

[2022-10-02 19:31] Rajdip019 commented on #168
Hey @boredcity the projects card UI is built, now you can start working on this you can find the new projects card UI in the `dev` branch only.

[2022-10-02 19:33] adi-uchiha commented on #116
I have made dark mode website with tailwind css. Can I start working on this ?

[2022-10-02 20:15] PrinceX04 commented on #187
@Rajdip019  As requested I had made another pull request to the dev branch

[2022-10-02 20:46] jaydeepdey03 opened #191 "Adding a good looking scrollbar matching with the theme of the website"
I want to add a good looking scrollbar in the website, which would match with the theme of the website, incorporating linear gradient color pattern in the scrollbar.

[2022-10-02 22:01] SahilSingh177 commented on #191
Can I work on this issue?

[2022-10-03 02:55] nihal-soni commented on #182
@Debajyoti14  I have started working on navbar  designing

[2022-10-03 05:24] nihal-soni commented on #182
@Debajyoti14     Bhaiya design is ready
[Clueless navbar.pdf](https://github.com/Clueless-Community/clueless-official-website/files/9694838/Clueless.navbar.pdf)

[2022-10-03 06:14] Dhanush-2605 commented on #185
hi, @Debajyoti14 can I work on this?

[2022-10-03 08:08] Garvit1809 commented on #188
hey, can I take the issue??

[2022-10-03 12:15] Ahnaf-codes commented on #185
@Debajyoti14 I'd like to work on this

[2022-10-03 13:04] AbirSantra commented on #188
I would like to work on this issue. Let me know if you want to assign me to this.

[2022-10-03 13:09] AbirSantra commented on #185
@Debajyoti14 Can I work on this?

[2022-10-03 13:11] AbirSantra commented on #171
@Rajdip019 Let me know if I can work on this issue after them.

[2022-10-03 13:21] AbirSantra opened #194 "Improve button designs in the hero section"
Hey, I was visiting the website and one of the first things I noticed is that the 'Join Discord' button has no border radius as opposed to every other button on the website. So I would like to add some radius to the borders.

Also, the "Explore Events" button has no icon. So I would like to add an icon to maintain uniformity.

The screenshot is attached below.

I would like to work on these issues

[2022-10-03 17:06] Rajdip019 commented on #187
Okay I will check @PrinceX04

[2022-10-03 18:54] Debajyoti14 commented on #188
Ok,
@Garvit1809 assigning it to you.
@AbirSantra will assign it to you after @Garvit1809

[2022-10-03 19:19] Debajyoti14 commented on #194
We appreciate your suggestion!
As of now, We decided to not work on this as we think that the join Discord button is good without border-radius and also the blue button is also giving justice to the Design system.
Feel free to raise issues like this.
As of now closing this issue 😀

[2022-10-03 19:19] #194 closed

[2022-10-03 19:23] Debajyoti14 commented on #185
@Dhanush-2605 assigning it to you👍️

[2022-10-03 19:34] Debajyoti14 commented on #182
@nihal-soni actually we think that currently Navbar is good at it's place.
btw thanks for your effort.
Really appreciate it.
Keep looking for other issues and contribute.
As of now closing it.

[2022-10-03 19:34] #182 closed

[2022-10-03 19:47] Debajyoti14 commented on #116
@AKACHI-4 Is it completed?

[2022-10-03 19:56] codeswithroh opened #195 "The project cards are overlapping"
Issue: All the cards under the projects sections are overlapping over one another
Screenshot:
![check](https://user-images.githubusercontent.com/77570394/193667137-3672c788-7ed6-4511-9184-397866779980.png)

Recommended Solution:
Reduce the width of the cards at full screen to stop the overlapping

[2022-10-03 19:57] codeswithroh commented on #195
@Debajyoti14 @Rajdip019 Could you assign this to me

[2022-10-03 19:58] Debajyoti14 commented on #195
Sure, Assigned it to you 👍

[2022-10-03 20:15] Debajyoti14 opened #196 "Add link to the Readmore button in Guidelines Button"
#### Add (https://github.com/Clueless-Community/clueless-official-website/blob/main/CODE_OF_CONDUCT.md) href to the link tag in the Read More button also make sure that it opens in new Tab.

![image](https://user-images.githubusercontent.com/91759192/193670647-f831043d-6065-4363-bb10-e4a7cd14bac1.png)

[2022-10-03 20:43] stevenjburrows commented on #196
I would like to pick this one up if it's okay

[2022-10-03 20:59] akebu6 commented on #164
Hey @Rajdip019, I am having issues with VSCode enabling TypeScript so it will take a while for me to work on this issue. Latest I should have it done this weekend after my College project proposal. Hope that is still okay

[2022-10-03 21:05] Sammydepoj commented on #196
Hi, I can work on this.
Kindly assign me

[2022-10-03 21:06] codeswithroh opened #198 "Add link contributing.md to official site"
![button](https://user-images.githubusercontent.com/77570394/193682279-3caff79a-7d8b-4b74-a534-b93d3b54fdca.png)
The button present here doesn't redirect to any particular link. Need to add [this](https://github.com/Clueless-Community/clueless-official-website/blob/main/CONTRIBUTING.md) as the link of that button.

[2022-10-03 21:10] Debajyoti14 commented on #198
We have changed this portion recently and ourselves took care of that. The changes are not deployed yet.
So closing this issue...

[2022-10-03 21:10] #198 closed

[2022-10-03 21:11] Debajyoti14 commented on #196
@stevenjburrows assigning it to you.

[2022-10-03 21:14] Debajyoti14 commented on #191
We have already changed that scrollbar color to blue previously but it wasn't looking good.
So, closing this issue.

[2022-10-03 21:14] #191 closed

[2022-10-03 21:18] Rajdip019 commented on #171
Hey, @arun-kushwaha04 do you want to work on this now?

[2022-10-03 21:18] Rajdip019 commented on #164
Yes it's fine. Take your time @Akidane47

[2022-10-03 21:35] arun-kushwaha04 commented on #171
Yes

[2022-10-04 00:51] AKACHI-4 commented on #116
I am working on it and will create PR soon.

[2022-10-04 03:32] nihal-soni commented on #182
No problem ,
Thankyou for appreciation.....

[2022-10-04 05:17] Rajdip019 commented on #171
Go ahead now you can start working on this. @arun-kushwaha04

[2022-10-04 05:53] Dhanush-2605 commented on #185
@Debajyoti14  what exactly should i do
![image](https://user-images.githubusercontent.com/90703523/193744678-f83c6977-99ce-49c7-b9aa-fbf9dd82f702.png)
because width of all div are already same right?

[2022-10-04 06:25] snehafarkya opened #200 "Back to top button on home page"
### Hey! I found your website quite interesting however as a web developer and designer, I think you should have a "Back to top" button or icon on home page.

Also, I found a small UI error in your website.
Take a look at the below screenshots
#### Before:

![image](https://user-images.githubusercontent.com/63949465/193748384-d44f85f2-5c67-46eb-b6c9-c903206be474.png)

#### After:

![image](https:/

[2022-10-04 07:51] Ayush2020012016 opened #201 "due to margin the social icons are not aligned"
the social icons are looking good with margin but for the small sized screen they are coming unaligned
![Hactoberfestimage2](https://user-images.githubusercontent.com/78146753/193764412-04037497-860e-400b-b6a8-6dd34fcff38e.png)

**I can change it to**

![hactoberfestimage1](https://user-images.githubusercontent.com/78146753/193764456-00760e69-0eac-4b6d-8c5f-a2ccbec82d80.png)

please assign this to

[2022-10-04 08:44] boredcity commented on #168
@Rajdip019
I finally started working on the new admin Projects card (sorry for the delay), but I have a few questions while I'm waiting for the credentials:

1) Should "Deployed URL" be a required field in the modal? Right now it's not, but the form won't save unless you provide it (and also does not give any indication that this is required 😿 )
![image](https://user-images.githubusercontent.com/3

[2022-10-04 08:55] Garvit1809 commented on #188
1) Guidelines issue:-
![Contri2](https://user-images.githubusercontent.com/89806031/193777282-363d5280-37ca-409c-96f5-84a8e695192b.png)
2) Margin Bottom issue:-
![Contri4](https://user-images.githubusercontent.com/89806031/193776959-ab351b96-d68f-4d8c-adc7-c769e4993dfe.png)
3) Space between Read more and SVG
![Contri3](https://user-images.githubusercontent.com/89806031/193777435-5a1433bb-afd3-41dd

[2022-10-04 11:04] Debajyoti14 commented on #188
increase bottom padding a little at 2

[2022-10-04 12:58] Garvit1809 commented on #188
Now looks good ?? Added a bit of margin in image as well as the heading
![Contri5](https://user-images.githubusercontent.com/89806031/193825141-a80c6bae-c3f3-49f6-a8ab-4970991c0e32.png)

[2022-10-04 18:33] boredcity commented on #168
Still no letter with credentials, by the way... 😕
Is it possible to check whether you have received my email with the credentials request as per instruction in `CONTRIBUTING.md`? 🕵️

[2022-10-04 20:15] Rajdip019 commented on #201
Yes go ahead @Ayush2020012016 . But make sure it doesn't break on desktop view. @Ayush2020012016

[2022-10-04 20:24] Rajdip019 commented on #168
Sent the credentials check once @boredcity

[2022-10-04 20:25] Rajdip019 commented on #168
And for your question
1. The Deployed URL should not be a required field.
2. We can have a 300 letter limit I guess there.

[2022-10-04 21:14] pratham4434 opened #206 "*What is ClueLess?* section border bug in medium screen"
The right side border is not visible at md-breakpoint
I can fix this issue, assign it to me please.

*Before*
![photo_2022-10-05_02-30-37](https://user-images.githubusercontent.com/91470779/193928866-2f6f36a8-8b9d-4805-9fd5-c4cafbea35e2.jpg)

*After*
![photo_2022-10-05_02-31-12](https://user-images.githubusercontent.com/91470779/193928881-ba016203-09a0-4771-bb6f-d60abaee8570.jpg)

[2022-10-05 03:02] Ayush2020012016 commented on #201
ok thanks.

[2022-10-05 03:53] Ayush2020012016 commented on #201
i have a doubt will this count in the hactoberfest pr.

[2022-10-05 04:00] chetansingh-2 opened #209 "Spacing issue when we open sidebar. Below 'events', large space is left."

[2022-10-05 04:01] chetansingh-2 commented on #209
Hi
Please assign me the issue

[2022-10-05 04:01] chetansingh-2 commented on #209
![Uploading Screenshot_20221005-093124_Chrome.jpg…]()

[2022-10-05 04:14] chetansingh-2 commented on #209
![Screenshot_20221005-093124_Chrome](https://user-images.githubusercontent.com/109887534/193978960-d1a82c4d-aef6-40e1-be50-2d04882cea91.jpg)

[2022-10-05 05:28] Rajdip019 commented on #201
Yes this will be counted as a hacktoberfest PR. @Ayush2020012016

[2022-10-05 05:28] #201 closed

[2022-10-05 05:29] Rajdip019 commented on #206
Sure @pratham4434 . Go ahead!

[2022-10-05 05:30] Rajdip019 commented on #209
Go ahead and fix this issue. @chetansingh-2

[2022-10-05 05:36] IAmTamal opened #211 "Addition : Issue template 🛠"
## What i am suggesting to add ?

I am suggesting to add **Issue Templates** to the repository, it can be as many categories as needed - primary categories of issues are mostly : `bugs`, `docs`, `general feature` and so on.

## Why to add it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to add a feature.
 - We can

[2022-10-05 06:35] Debajyoti14 commented on #211
Looks Good.
@IAmTamal You can work on this

[2022-10-05 10:46] boredcity commented on #168
One more question: should there be a delete project button in the new design?

[2022-10-05 14:24] Rajdip019 commented on #168
Yes there should be. Just saw it's not there in the Figma design.

[2022-10-05 15:38] IAmTamal commented on #211
@Debajyoti14 ,PR has been made at #215 , feel free to let me know of any changes

[2022-10-05 15:44] #209 closed

[2022-10-05 15:45] chetansingh-2 commented on #209
This seems a browser issue. The site is working fine in other browsers. I tried on many other phones. I did not find any problem in the code. So I am closing the issue.

[2022-10-06 05:29] #211 closed

[2022-10-06 10:15] Debajyoti14 commented on #200
@snehafarkya Any updates?

[2022-10-06 10:15] #196 closed

[2022-10-06 10:17] snehafarkya commented on #200
Hey! The thing is when I'm doing changes in the code, its not reflecting on the website. I'm unable to change the code.

[2022-10-06 10:17] #187 closed

[2022-10-06 10:20] Debajyoti14 commented on #184
@rahul-n18 What's the progress?

[2022-10-06 10:21] Debajyoti14 commented on #171
@arun-kushwaha04 Any Updates?

[2022-10-06 10:22] rahul-n18 commented on #184
@Debajyoti14  I have sent you a mail long back Please refer it once

[2022-10-06 11:51] arun-kushwaha04 commented on #171
@Debajyoti14, Yes I have started working on the new profile section. Please Exculse me i got busy with some family work.

[2022-10-06 13:06] Ayush2020012016 opened #216 "team blog page can be more responsive"
### Description

I can make it more responsive for mobile view

### Screenshots

![hactoberfest5](https://user-images.githubusercontent.com/78146753/194320365-0f32f8c4-3943-4ed5-b993-5578b7a90fee.png)
i can make it more responsive

### Additional information
please assign this to me

_No response_

[2022-10-06 13:42] Rajdip019 commented on #200
The local server is not changing?

[2022-10-07 06:20] Rajdip019 commented on #216
This is a hasnode blog. It's not made by us. @Ayush2020012016 So closing this issue.

[2022-10-07 06:20] #216 closed

[2022-10-07 06:20] Rajdip019 commented on #181
I guess this is done. So closing this issue.

[2022-10-07 06:20] #181 closed

[2022-10-07 08:35] Subhajitongit opened #218 "The resource hub section breaks at breakpoint-md"
### Description

I can fix this issue and make the component look more seemingly responsive. Could you please assign it to me?

### Screenshots

_How the component looks at full width_
![fullScreen](https://user-images.githubusercontent.com/90279748/194509934-3090be2f-3c6f-4785-b254-8be098d4b6bb.jpg)

_How the component looks at a mid breakpoint_
![midScreen](https://user-images.githubusercontent.

[2022-10-07 08:36] Subhajitongit commented on #218
@Rajdip019 please assign it to me

[2022-10-07 08:41] #195 closed

[2022-10-07 08:42] #188 closed

[2022-10-07 08:43] #185 closed

[2022-10-07 08:47] Debajyoti14 commented on #184
@rahul-n18 I haven't found any mail. Have you made the PR? if yes share the link to the PR.

[2022-10-07 12:54] PrinceX04 commented on #186
Can i work on this issue

[2022-10-07 19:43] durgeshm01722 commented on #200
### Hey Admins, can you assign this task to me? I can try to resolve the UI issue and add the Back to Top Button.

[2022-10-07 22:16] arun-kushwaha04 commented on #171
@Rajdip019 where can I find google client id and secret id for local setup ?

[2022-10-07 22:27] arun-kushwaha04 commented on #171
@Rajdip019 @Debajyoti14 I didn't received api credentials for local setup.

[2022-10-08 03:08] vijay2249 opened #219 "Footer missing in /challenges-events route"
### Description

Every route has a footer of same thing, but as there is not footer in /challenges-events route

### Screenshots

![image](https://user-images.githubusercontent.com/65058877/194685113-b682f7c6-1e0b-43b5-a7aa-15b413c13595.png)

No footer in this route

### Additional information

_No response_

[2022-10-08 03:35] Saurav-Singh-Rauthan commented on #219
can i work on this?

[2022-10-08 05:02] vijay2249 commented on #219
I'm waiting for team members to assign it to me... :)

[2022-10-08 07:17] Debajyoti14 commented on #219
As that page is built with Notion which is a No-Code Technology.
It's not necessary to have a footer there.
For that closing this issue.
Thanks for pointing out.

[2022-10-08 07:17] #219 closed

[2022-10-08 07:20] Debajyoti14 commented on #218
@Subhajitongit This thing looks fine. It's also not breaking in md breakpoint. Padding in X just changed.
SO, CLOSING THIS ISSUE.

[2022-10-08 07:20] #218 closed

[2022-10-08 07:40] jyotika6221 commented on #184
Is the issue resolved or can i fix it?

[2022-10-08 07:42] jyotika6221 commented on #164
I m a beginner, can u please describe the isssue in detaila nd assign it to me?

[2022-10-08 08:08] rahul-n18 commented on #184
@jyotika6221 you can do this.

Thank you

[2022-10-08 08:13] akebu6 commented on #164
Hey @jyotika6221 I'm actually working on this so, can you kindly find another open issue go work on

[2022-10-08 08:46] #206 closed

[2022-10-08 08:47] Debajyoti14 commented on #200
@durgeshm01722 assigning it to you.

[2022-10-08 08:48] Debajyoti14 commented on #186
This issue is already resolved.
So closing this.

[2022-10-08 08:48] #186 closed

[2022-10-08 08:49] Debajyoti14 commented on #184
@jyotika6221 assigning it to you.

[2022-10-08 08:51] Debajyoti14 commented on #170
@iks1 What's the update?

[2022-10-08 08:53] Debajyoti14 commented on #116
@AKACHI-4 Update on your progress?

[2022-10-08 09:09] Debajyoti14 commented on #171
@arun-kushwaha04 mail us once again at official.cluelesscommunity@gmail.com with the PR link and your GitHub ID

[2022-10-08 09:15] rohan9024 opened #220 "Low quality image on signin page"
### Description

Adding a new gif on the signin page instead of a low quality image which looks kind of decent.
I have designed the page. Can I go with this?

### Screenshots

Low Quality Image-
![image](https://user-images.githubusercontent.com/64919642/194699954-e5a25e9f-8fbf-423b-a9da-fe2decb2961c.png)

New GIF-

https://user-images.githubusercontent.com/64919642/194700247-1384040b-09ad-46ab-9b

[2022-10-08 09:24] arun-kushwaha04 commented on #171
@Debajyoti14 sent.

[2022-10-08 09:36] Harsh0326 commented on #171
Hey @Rajdip019 can I work on this issue ?

[2022-10-08 09:56] its-ayush-07 commented on #170
@Debajyoti14 I'd like to work on this issue

[2022-10-08 09:58] Debajyoti14 commented on #170
Will assign within today if @iks1 doesn't respond.

[2022-10-08 11:57] Ayush2020012016 commented on #171
Hey brother as I dont have any work to do for right now can i do this work. thank you

[2022-10-08 13:11] Satakshijain commented on #220
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-09 04:35] YashJain2409 commented on #116
Can I work on this?

[2022-10-09 09:42] rahulkarda commented on #170
@Debajyoti14 Assign it to me, if they don't respond.

[2022-10-09 09:47] rahulkarda opened #223 "Accessibility issue"
### Description

Some images don't have alt tags, which causes a low accessibility score for the site.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 12:07] Debajyoti14 commented on #170
@its-ayush-07 assigned you.

[2022-10-09 12:10] Debajyoti14 commented on #223
@rahulkarda Do fix it for all the images.

[2022-10-09 12:14] rahulkarda commented on #223
Ok. I'm on it.

[2022-10-09 12:16] Debajyoti14 commented on #220
@rohan9024 This looks cool. Can you add some similar type of GIF with transparent background?

[2022-10-09 12:16] #200 closed

[2022-10-09 12:19] Debajyoti14 commented on #184
@jyotika6221 This issue was fixed previously.
Pick another issue.
So closing it for now.

[2022-10-09 12:19] #184 closed

[2022-10-09 12:22] Debajyoti14 commented on #116
@AKACHI-4 unassigning you.
@YashJain2409 assigned you.

[2022-10-09 14:37] rohan9024 commented on #220
@Debajyoti14 The gif gets screwed. Can we go with current gif? And also I have replaced more images, can we replace it as well?

[2022-10-09 14:53] rohan9024 commented on #220
https://user-images.githubusercontent.com/64919642/194763565-e40cfc10-c27e-46d4-84b1-de887e24361e.mp4

https://user-images.githubusercontent.com/64919642/194763571-5ce7cb17-9aa2-4653-ada6-c6bf73c8cabf.mp4

[2022-10-09 17:03] saimaheshtaduri opened #225 "explore button in projects enhancement"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
whenever I click on the explore button of a project, I opens the github page of it in the same tab. I don't feel its so convenient this way.

## **Describe the solution you'd like**

I think opening the github pages in the new tab will be more efficient, and convenient to the end user.

[2022-10-09 17:06] Athi223 commented on #225
I'd like to contribute to this

[2022-10-09 17:07] saimaheshtaduri opened #226 "overlapping of project cards"
## **🐞 Bug Report**

### **Describe the bug**

The project cards are overlapping on each other.

### **To Reproduce**

1.go to https://www.clueless.tech/hacktoberfest
2. scroll down to projects section ( it works properly in mobiles)
---

### **Expected behaviour**

Better if the cards are separated from each other.

### **Media prove**

![Screenshot (39)](https://user-images.githubusercontent.com

[2022-10-09 18:43] Anish-Sarawgi commented on #226
I want to work on this issue.

[2022-10-10 02:49] rahulkarda commented on #223
@Debajyoti14 done, I have opened a PR.

[2022-10-10 05:38] SubxX opened #228 "Logout button repositioning in mobile view & Logout confirmation dialog"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* I think the logout button in the mobile menu doesn't look good also it creates an uneven gap between the menu & the button
* ![image](https://user-images.githubusercontent.com/51792949/194804038-c8ed4281-a4b3-40fc-9a79-6fd571eda38a.png)

---

## **Describe the solution you'd like**

I think we should

[2022-10-10 07:11] shashankbhatgs opened #230 "[DOCS]: typo in the feature_request.yml file"
### Description

There's a mistake in the wording in the feature_request.yml file template. Instead of 'clueless-official-website', 'Milan' is written.
It seems that while creating the files, forgot to change the project name from Milan to clueless-official-website in the template.

### Screenshots

![clueless](https://user-images.githubusercontent.com/76593166/194814165-23c8220b-8733-49c6-ba5b-25

[2022-10-10 08:54] rahulkarda opened #231 "Youtube tutorial missing in Resource section"
### Description

Youtube tutorial is missing at https://clueless-resources.super.site/resources/tech/basics-of-programing/c
I can add a tutorial.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-10 09:01] rahulkarda commented on #171
@arun-kushwaha04 are you still working on the issue?

[2022-10-10 09:03] rahulkarda commented on #220
@Debajyoti14 who is assigned for this task?

[2022-10-10 09:07] rahulkarda opened #232 "Adding Data Science in Resources Section"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Data Science is an emerging field and we should include it in the resources section.
*

---

## **Describe the solution you'd like**

I want to add a Data Science section and related resources.
*

---

## **Describe alternatives you've considered**

*

---

### **Additional context**

*

[2022-10-10 09:50] YashJain2409 commented on #116
hey, you can unassign me , actually i do not know that much about tailwind css

[2022-10-10 11:37] RajKanani1206 commented on #164
Hey @Rajdip019, I think users can also contact when they are not signed In (Ref: https://ineuron.ai/contact-us), also disabling submit button would not be the best option. I guess form should be validated. I can get it done if assigned to me.

[2022-10-10 11:41] akebu6 commented on #164
@Rajdip019 I think you can also assign it to @RajKanani1206 to make the form validation because I've also noticed that the firm inputs aren't validated.

He can work on the form validation part and I'll finish up the disable button until all fields and validation are done.

How does that sound @RajKanani1206 and @Rajdip019 ??

[2022-10-10 13:15] AbirSantra opened #234 "[Enhancement] - Unclear "How to get Swags" guidelines on the Hacktoberfest page"
### Description

Hi, currently the guidelines on "How to get Swags" seem a bit unclear. Also, I would like to suggest some improvements.
1. The "If your PR got merged" text looks a bit too small and inconsistent with the design.
2. I would like to elaborate on the instructions a bit more and add more points if required. ( We can discuss what points can be added and which points can be elaborated)

[2022-10-10 13:26] RajKanani1206 commented on #116
If this is still available, I would like to work on it and can u tell me more about the dark mode feature, I'm a bit confused between the instructions above.

[2022-10-10 14:55] RajKanani1206 commented on #116
If this is still available, can u tell me more about the feature. I'm interested in working at it.

[2022-10-10 15:25] saimaheshtaduri commented on #225
@Debajyoti14

[2022-10-10 16:56] rahulkarda opened #235 "Adding links to the profiles in the Leaderboard"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Adding profile links to the leaderboard profiles so that users can directly see the profiles.

*

---

## **Describe the solution you'd like**

I'll add links to the profiles.
*

---

## **Describe alternatives you've considered**

*

---

### **Additional context**

*

[2022-10-10 18:37] #171 closed

[2022-10-10 18:52] devjain2309 opened #237 "Add Target as Blank in Export Button in in project card in hacktoberfest page."

[2022-10-10 18:55] saimaheshtaduri opened #238 "[Bug] leaderboard is default going to bottom when refreshed in middle of the page"
## **🐞 Bug Report**

### **Describe the bug**

The leaderboard is default going to the bottom of the page, when the page is refreshed being in the page.

### **To Reproduce**

1. go to https://www.clueless.tech/hacktoberfest/leaderboard
2. scroll down a little bit down
3. now refresh the page
4. See error

### **Expected behaviour**

It has to scroll to the top of the page when refreshed evrytime.

[2022-10-10 19:04] arun-kushwaha04 commented on #235
@Debajyoti14, can I work on adding this feature.

[2022-10-10 19:09] #170 closed

[2022-10-11 03:03] KennethLeroy commented on #238
working on it

[2022-10-11 07:07] Rajdip019 commented on #238
Do you wanna work on it @saimaheshtaduri ?

[2022-10-11 07:08] Rajdip019 commented on #237
Go ahead and work on it. @devjain2309

[2022-10-11 07:11] saimaheshtaduri commented on #238
Yes

[2022-10-11 07:14] Rajdip019 commented on #238
Okay you are assigned. @saimaheshtaduri

[2022-10-11 07:21] Rajdip019 commented on #164
Okay work on it. @RajKanani1206

[2022-10-11 07:59] RajKanani1206 commented on #164
Done. I have created PR.

[2022-10-11 09:50] soustab10 commented on #116
I'm interested in working on this.

[2022-10-11 09:55] soustab10 opened #240 "Add hover state on the resources cards"
## Add a hover state to the resources cards.

### **Describe the bug**
Adding an hover state to the resources cards would make the UI better.

### **To Reproduce**

Steps to reproduce the error:

1. Visit https://clueless-resources.super.site/resources
2. Hover on resources
3. See error

---

### **Expected behaviour**

* Adding hover states to highlight the resource hovered by user.

---

### **M

[2022-10-11 11:05] devjain2309 commented on #237
@Rajdip019 I added this feature, please merge it.

[2022-10-11 11:22] #164 closed

[2022-10-11 11:31] Debajyoti14 commented on #240
This page is not made with React.
It's built with notion which is a no-code tool.
So it can't be modified that way.
So closing this issue.

[2022-10-11 11:31] #240 closed

[2022-10-11 11:32] devjain2309 opened #241 "Add Dark Mode in Main Website"
I'm Interested to add this feature to the main website page.

[2022-10-11 11:36] Debajyoti14 commented on #237
@devjain2309 your pr is breaking the deployment
![image](https://user-images.githubusercontent.com/91759192/195079529-fdef78f5-e7c3-4d5c-9234-7ba66486bc7a.png)
Fix this error and commit further.

[2022-10-11 11:42] Debajyoti14 commented on #116
@RajKanani1206 assigned you

[2022-10-11 11:42] Debajyoti14 commented on #241
already similar issue is open.
so closing this issue

[2022-10-11 11:42] #241 closed

[2022-10-11 11:45] Debajyoti14 commented on #235
@rahulkarda our DB is not structured that way so that we can redirect from profile URL from the leaderboard page.
so closing this issue.

[2022-10-11 11:45] #235 closed

[2022-10-11 11:47] Debajyoti14 commented on #234
@AbirSantra Go for it.

[2022-10-11 12:43] AbirSantra commented on #234
Ok sure. I'll get started! Also, can you add the hacktoberfest labels to this issue?

[2022-10-11 12:44] Debajyoti14 commented on #234
okay👍

[2022-10-11 12:50] soustab10 opened #242 "Update techstacks in the Techstack section of the profile"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Many techstacks (along with some important ones) are missing from the techstack dropdown menu, in the profile section.

---

## **Describe the solution you'd like**

I would like to work upon it and add all the latest and popular technologies.

---

### **Additional context**
If approved, I would like

[2022-10-11 12:51] devjain2309 commented on #116
@Rajdip019 Can I Add dark mode on the main page?

[2022-10-11 13:04] soustab10 opened #243 "Add Scroll to Top Button on Leaderboard Page"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
Leaderboard page has a lot of vertical scroll. So it would be better if a scroll to top button is present.

---

## **Describe the solution you'd like**
A scroll to top button similar to the main page will be implemented.

---

### **Additional context**

If approved I would like to work upon this issue

[2022-10-11 13:14] soustab10 opened #244 "Add proper documentation to Guidelines Section"
### Description

Add proper contributing guidelines to the Guidelines section.

### Screenshots

![image](https://user-images.githubusercontent.com/95632583/195100717-8bf78c13-3dc0-4a1f-b374-3a391de156cf.png)

### Additional information

_No response_

[2022-10-11 13:15] rahulkarda commented on #235
Yeah I thought so, no worries.

On Tue, 11 Oct, 2022, 5:15 pm Debajyoti Saha, ***@***.***>
wrote:

[2022-10-11 14:51] RajKanani1206 commented on #237
The Approach is completely wrong. Button tag cannot have target attribute. Should I go for this @Debajyoti14 ?

[2022-10-11 14:56] Debajyoti14 commented on #237
@RajKanani1206 Go for it👍

[2022-10-11 15:40] Debajyoti14 commented on #237
@RajKanani1206 yes

[2022-10-11 18:09] RajKanani1206 commented on #237
@saimaheshtaduri Sorry but its already completed and I have created PR for it.

[2022-10-11 18:18] saimaheshtaduri commented on #237
@RajKanani1206 it's ok no worries. 🙂

[2022-10-11 18:59] RajKanani1206 opened #248 "[Bug] Unnecessary Image Clicks - Accessibility Issue"
## **🐞 Bug Report**

### **Describe the bug**
Unnecessary image click with href. Also, Some images still don't have alt tags, which causes a low accessibility score for the site.

---

### **To Reproduce**

1. Go to [https://www.clueless.tech/hacktoberfest](https://www.clueless.tech/hacktoberfest)
2. scroll down a little bit and click on the image of how to get swags section.
3. See error

---

##

[2022-10-11 19:03] its-ayush-07 opened #249 "[Feature] - Search feature to filter leaderboard"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* On the leaderboard page, it's time-consuming for a contributor to check their own points, among a vast list of 250+ contributors.

---

## **Describe the solution you'd like**

* A **Search** feature to filter the leaderboard by GitHub username, for user convenience.

---

### **Additional context**

[2022-10-12 04:10] #248 closed

[2022-10-12 04:29] Debajyoti14 commented on #244
@soustab10 isn't the proper guidelines there after clicking the read more button?

[2022-10-12 04:29] RajKanani1206 commented on #248
Is this how it works ? No assignees !!! Direct Submissions and approved by maintainers that too with half the problem statement resolved !!!!

[2022-10-12 04:36] Debajyoti14 commented on #248
@RajKanani1206 Are you talking about this issue ticket?
There might be some confusion regarding this issue.
We will take care of this things in the future.
Thanks for pointing out

[2022-10-12 04:38] Debajyoti14 commented on #243
@soustab10 Go for it.
Try to use the same scroll to top button used in homepage

[2022-10-12 04:39] Debajyoti14 commented on #242
@soustab10 Assigned you.

[2022-10-12 04:55] Debajyoti14 commented on #232
@rahulkarda We are not considering any issue of the resources section into the official website as it is built with Notion.
Still if you want to add such section, You can mail us with the resources or appeal to add a section.
Closing this issue.

[2022-10-12 04:55] #232 closed

[2022-10-12 04:56] Debajyoti14 commented on #249
@its-ayush-07 As this leaderboard is ocassional. We think that people just can search themselves with ctrl+f. So, closing this issue for now.

[2022-10-12 04:56] #249 closed

[2022-10-12 04:57] Debajyoti14 commented on #244
Closing this issue for now. if required will reopen later on...

[2022-10-12 04:57] #244 closed

[2022-10-12 04:57] Debajyoti14 commented on #231
@rahulkarda Closing this issue

[2022-10-12 04:57] #231 closed

[2022-10-12 04:58] Debajyoti14 commented on #230
Sorry, but we are not accepting such typo fix PRs.
So, closing this

[2022-10-12 04:58] #230 closed

[2022-10-12 04:59] Debajyoti14 commented on #228
@SubxX Assigned you

[2022-10-12 05:00] Debajyoti14 commented on #226
@saimaheshtaduri Work on this.

[2022-10-12 05:02] #237 closed

[2022-10-12 05:05] Debajyoti14 commented on #220
@rohan9024 Assigning you.
Change the about us SVG as u shown.
The SVG u added login screen should have a transparent background.
Work on the changes requested.

[2022-10-12 05:12] Debajyoti14 opened #252 "Enhance the Readme"
### Description

Enhance the Readme for adding the maintainers.
For this Repo add @Debajyoti14 @Rajdip019 as Maintainers.
.
.
.
For Reference check this :-
https://github.com/Clueless-Community/web-ui-kit/blob/main/README.md

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195255496-a9a9d3c3-bbc6-42bd-8115-88c434b93211.png)

### Additional information

_No response_

[2022-10-12 05:14] najeebkp commented on #252
hi @Debajyoti14 please assign this to me

[2022-10-12 05:17] Debajyoti14 opened #253 "Can't save without deployment URL while adding Projects."
### Description

#### While adding projects the deployed website URL field should be optional in the profile page.

now the save button remains disabled without the deployed URL.

### Screenshots

![Screenshot from 2022-10-11 00-17-22](https://user-images.githubusercontent.com/91759192/195256045-d23ac993-8e52-4566-812c-f3baf400d638.png)

### Additional information

_No response_

[2022-10-12 05:18] Soumya-Kushwaha opened #254 "Documentation"
### Description

Add contributors section

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-12 05:20] RajKanani1206 commented on #253
I would like to work on it.

[2022-10-12 05:21] RajKanani1206 commented on #252
I would like to work on it.

[2022-10-12 05:23] Debajyoti14 commented on #252
@najeebkp Go for it.

[2022-10-12 05:24] Debajyoti14 commented on #253
@RajKanani1206 Assigned you.

[2022-10-12 05:26] Debajyoti14 commented on #254
@Soumya-Kushwaha Go for it...

[2022-10-12 06:00] RajKanani1206 commented on #253
@Debajyoti14

![image](https://user-images.githubusercontent.com/104709529/195261966-c8807d32-14df-4b19-924d-0c37c1d8e8f4.png)

Also, there is another bug, It's working without Project Name. Fixing that too.

[2022-10-12 06:29] Debajyoti14 commented on #253
@RajKanani1206 Thanks for finding. Fix it.

[2022-10-12 06:35] Debajyoti14 opened #257 "Fix Vertical allignment in Rewards and Perks"
### Description

#### The Right side of the Rewards and Perks section is aligned vertically.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195267540-5410d54a-6b5e-4404-8b5f-49e9e8e8c5e9.png)

### Additional information

_No response_

[2022-10-12 06:47] Debajyoti14 opened #258 "Sponsor image seems to big for mobiie view"
### Description

#### Adjust its size accordingly for Mobile View

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195269780-b9cdf040-dc39-4072-8187-f5e1d173ae03.png)

### Additional information

_No response_

[2022-10-12 06:58] Debajyoti14 opened #259 "Enhance Login Screen UI"
### Description

Enhance this Login screen UI

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195271897-b80b6ef8-6673-4c29-a8b6-ed94818f74ff.png)

### Additional information

_No response_

[2022-10-12 07:03] RajKanani1206 commented on #253
@Debajyoti14 Fixed already and created PR too.

[2022-10-12 07:03] RajKanani1206 commented on #257
Working on it.

[2022-10-12 07:05] RajKanani1206 commented on #258
Working on it.

[2022-10-12 07:26] Debajyoti14 commented on #258
@RajKanani1206 Wait for the PRs being reviewed

[2022-10-12 09:50] Anuran12 commented on #259
I would like to work on this

[2022-10-12 09:51] Anuran12 commented on #259
Please assign it to me @Debajyoti14

[2022-10-12 09:54] Debajyoti14 commented on #259
@Anuran12 Share your figma design before proceeding with code.
Assigning it to you.

[2022-10-12 16:32] #253 closed

[2022-10-12 16:54] #225 closed

[2022-10-12 19:17] tanishk-23 commented on #259
@Debajyoti14 can I also work on this issue?

[2022-10-12 19:24] Debajyoti14 commented on #259
@Anuran12 is working on it. After him I can assign it to you @tanishk-23

[2022-10-13 06:40] #257 closed

[2022-10-13 06:42] #258 closed

[2022-10-13 06:44] #238 closed

[2022-10-13 06:45] Debajyoti14 commented on #234
@AbirSantra What's the progress?

[2022-10-13 06:46] Debajyoti14 commented on #226
@saimaheshtaduri Any update?

[2022-10-13 06:47] Debajyoti14 commented on #220
@rohan9024 Are you working on this issue?

[2022-10-13 06:47] #168 closed

[2022-10-13 06:50] Debajyoti14 commented on #116
@RajKanani1206 Yes. Just make sure while changing it to Dark Mode, The text colours also changes to appropriate colour so that readability remains intact

[2022-10-13 06:54] AbirSantra commented on #234
I'll get started today. I had an exam. I'll share the new instructions with you today before implementing and we can discuss it.

[2022-10-13 07:00] Debajyoti14 commented on #234
@AbirSantra Sure

[2022-10-13 08:38] Aman123lug commented on #234
@AbirSantra  can i also work on this?

[2022-10-13 09:39] Anuran12 commented on #259
@Debajyoti14 you can unassign me . because i an not familiar with figma. so i am not good for this issue .

[2022-10-13 10:32] Debajyoti14 commented on #259
@tanishk-23 assigned you

[2022-10-13 12:08] AbirSantra commented on #234
Yeah definately but after I make my contribution. If you feel like you can improve it even further and the project admins approve of it, then feel free to raise an issue. 😃

[2022-10-13 14:04] rohan9024 commented on #220
@Debajyoti14 working on it..... transparent background won't be possible .....can we go with the one I showed you?

[2022-10-13 14:28] Debajyoti14 commented on #220
@rohan9024 If not Gif, go with appropriate svg

[2022-10-13 14:31] rohan9024 commented on #220
@Debajyoti14 okay sure...can you please guide me on how should I commit changes and create a PR?

[2022-10-13 15:08] AbirSantra commented on #234
@Debajyoti14 What do you think of this content?

[code]

Also, do you think we can implement a "Copy Profile URL" button on the user's profile page to make step 4 even better?
Let me know what you think.

[2022-10-13 15:18] Debajyoti14 commented on #220
Guess you have already forked the GitHub Repo and make the changes in the main branch itself.
That's fine. Just push your code to the github in the main branch.
Then after pushing in the code in your repo,
you will be able to see the contribute button in the home screen of your forked repo.
Then tap contribute
, make a PR.

That's it we will merge it after reviewing the changes.

[2022-10-13 15:29] Debajyoti14 commented on #234
@AbirSantra Great work. Go with the changes you specified.

But for now no need to add a copy button for Profile. One can simply copy it from Addressbar.

But make the changes you mentioned in the content and also do some changes in the ui so that it looks good

[2022-10-13 15:32] AbirSantra commented on #234
Okay sure! I'll work on the UI and keep you updated!

[2022-10-13 19:09] #254 closed

[2022-10-13 19:11] #252 closed

[2022-10-13 19:12] Debajyoti14 commented on #243
@soustab10 What's the progress?

[2022-10-13 19:12] Debajyoti14 commented on #242
@soustab10 Any Updates?

[2022-10-14 08:33] rohan9024 commented on #220
@Debajyoti14 Bro, I'm having this error.... can you please help?

![image](https://user-images.githubusercontent.com/64919642/195801088-f00b4a32-bc01-46ad-9f46-3201abea1b24.png)

[2022-10-14 08:36] rohan9024 commented on #259
@Anuran12 Can I join you bro? (if you don't mind)

[2022-10-14 08:40] rohan9024 commented on #226
@Debajyoti14 If he's not working on it ..... I would love to contribute

[2022-10-14 09:12] Anuran12 commented on #259
@rohan9024 I am not working on this project now... you can ask @tanishk-23

[2022-10-14 09:16] rohan9024 commented on #259
@tanishk-23 Can I join you bro? (if you don't mind)

[2022-10-14 09:55] saimaheshtaduri commented on #226
I am working on it. Need some more time.

[2022-10-14 10:49] Debajyoti14 commented on #220
This should help
https://stackoverflow.com/questions/5335197/gits-famous-error-permission-to-git-denied-to-user

[2022-10-14 11:06] tanishk-23 commented on #259
@Debajyoti14 I have to redesign the Login Screen or just do the changes in the existing one?
I have designed a new design just have a look.

https://www.figma.com/file/TINupPpnQv0E0UscehIjnR/Web-Login?node-id=0%3A1

[2022-10-14 11:11] Debajyoti14 commented on #259
@tanishk-23 The design looks very cool.
You can go with it.
Just make sure the navbar and the color combination remains intact.
Good work

[2022-10-14 14:43] AbirSantra commented on #234
@Debajyoti14 What do you think of this?

[2022-10-14 14:45] AbirSantra commented on #234
@Debajyoti14  What do you think of this?
I used a card with the same theme as the main website and changed it to a black background to match the theme of the Hacktoberfest page. I think this looks better than the previous design.
![image](https://user-images.githubusercontent.com/78201921/195875168-f3a7dc31-b048-4286-9318-a6aefb947ef6.png)

[2022-10-14 15:19] Anuran12 opened #265 "[Feature]: Dark mode"
## **🚀 Feature Request**

## **Describe the solution you'd like**
I would like to add a toggle button which could change the theme of the website between light and dark mode

[2022-10-15 09:44] tanishk-23 commented on #259
@Debajyoti14 why this issue has been closed?

[2022-10-15 16:12] Debajyoti14 commented on #259
Someone has changes the login screen image
![image](https://user-images.githubusercontent.com/91759192/195996736-d439498e-1920-47ff-82c6-9d5f46e6fecb.png)
This looks like this now.
If you want to enhance the UI further. You surely can.
But share the Figma Design before developing it @tanishk-23

[2022-10-15 16:12] #234 closed

[2022-10-15 16:15] Debajyoti14 commented on #265
@Anuran12 same issue is already assigned below.
So closing this issue.

[2022-10-15 16:15] #265 closed

[2022-10-15 16:15] Debajyoti14 commented on #243
@rohan9024 assigning you

[2022-10-15 16:16] #228 closed

[2022-10-15 16:16] #220 closed

[2022-10-15 16:20] Debajyoti14 opened #268 "Add About link in NavBar"
### Description

#### Add about link in Navbar

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195997082-efb7f764-7a39-45dc-be0b-d5d4f369e54b.png)

### Additional information

_No response_

[2022-10-15 16:22] tanishk-23 commented on #259
I have shared it before

[2022-10-15 16:23] Debajyoti14 opened #269 "Add Elevation on Hover in Team Member Cards"
### Description

#### Add a beautiful hover effect on the Team member's card.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195997238-848167eb-3668-4d4e-b008-6df4e25b7452.png)

### Additional information

_No response_

[2022-10-15 16:26] yashsarnaik22 commented on #269
hey @Debajyoti14 can I do this?
Please assign it to me.

[2022-10-15 16:27] Debajyoti14 opened #270 "Scale up while hovering on social buttons"
### Description

#### Add a little hover effect on the social buttons of the Team member card on the About Page. like scale up the button little add some dark tone on the color while hovering.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/195997468-335e8925-d751-4f20-89cf-37a7370382c4.png)

### Additional information

_No response_

[2022-10-15 16:28] Debajyoti14 commented on #269
@yashsarnaik22 Go for it.

[2022-10-15 16:29] ankitkumar0622 commented on #270
hii , can you assign me this task , i would love to work on it.

[2022-10-15 16:31] Debajyoti14 commented on #259
@tanishk-23 If you can, then implement this UI fully.
Just dont change the Navbar

[2022-10-15 16:32] Debajyoti14 commented on #270
@ankitkumar0622 Assigning you.

[2022-10-15 16:33] yashsarnaik22 commented on #269
Thank You!

[2022-10-15 16:51] rohan9024 commented on #259
@Debajyoti14 @tanishk-23 I can help you if you need🙋🏻‍♂️

[2022-10-15 16:54] Debajyoti14 commented on #259
@rohan9024 Discuss with @tanishk-23
if he permits, You can both can do the work alongside.

[2022-10-15 16:56] rohan9024 commented on #259
@Debajyoti14 can I enhance the resources page?

[2022-10-15 17:01] Debajyoti14 commented on #259
@rohan9024 There is nothing to code in Resources Page as it is built with Notion.

If you want to add Resources in the Resources section, You can all the links of the resources in a gDoc and mail it to us.

[2022-10-15 18:03] yashsarnaik22 commented on #269
@Debajyoti14 can you please tell me in which directory or file the code card components is saved?
is it an automized element?

[2022-10-15 18:06] Debajyoti14 commented on #269
@yashsarnaik22 ProfileCard component in about us page

[2022-10-15 18:16] yashsarnaik22 commented on #269
okay thank you!

[2022-10-15 18:31] Debajyoti14 opened #271 "Concatenate the description so that UI doesn't break"
### Description

#### Concatenate the content of the card so that the UI doesn't break. Also check it's responsiveness.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196002466-7ecc2e64-2cbf-4ae3-9839-a192b09bcf30.png)

### Additional information

_No response_

[2022-10-15 18:32] Debajyoti14 commented on #116
@RajKanani1206 What's the update?

[2022-10-15 19:43] durgeshm01722 commented on #271
Hey, I would like to work on this issue. Can you assign me this task?

[2022-10-15 19:44] durgeshm01722 commented on #268
Hey, can you assign this task to me? I would love to work on it.

[2022-10-15 20:05] Debajyoti14 commented on #268
@durgeshm01722 Assigned it to you

[2022-10-15 20:12] Debajyoti14 commented on #271
@durgeshm01722 Assigned you

[2022-10-15 21:05] durgeshm01722 commented on #268
Thanks @Debajyoti14

[2022-10-15 21:06] durgeshm01722 commented on #271
Thanks @Debajyoti14

[2022-10-16 08:41] RajKanani1206 commented on #116
@Debajyoti14 Would provide update with short outcome soon.

[2022-10-16 11:48] RajKanani1206 commented on #116
@Debajyoti14

https://user-images.githubusercontent.com/104709529/196033175-eb99ad4d-6238-4542-b6e5-2ddee5d0d149.mp4

Note:
-- I have kept sure about text color for home page only, every other page needs to be addressed for dark mode.
-- I have used next-themes(npm package), hope there is no issue in that.

What needs to be done:
-- Reposition mode changing icon properly.
-- Github logo svg in Div

[2022-10-16 14:32] money8203 opened #275 "Improve readme.md"
### Description

Please add more precise details about the projects like how to get started what to do where to contribute . It will be helpful for folks who are new to open source and if all the instructions will be displayed properly and clearly i think beginners can also contribute to some moderate level projects

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 16:52] Debajyoti14 commented on #275
@money8203 What information you would like to add?

[2022-10-16 17:24] rmgb05 commented on #270
Can i work on this issue .. If available ..

[2022-10-16 17:58] Debajyoti14 commented on #270
after @ankitkumar0622 I can assign you @rmgb05

[2022-10-16 18:05] Debajyoti14 commented on #116
@RajKanani1206 Okay There is too much changes needed to be done in order to implement dark mode.

Let me discuss with the other members and merge it if approved.

Hold it for a bit.

[2022-10-16 18:14] durgeshm01722 commented on #271
### Hey!

I have fixed the issue.

The social icons are now aligned at the same level for every card and don't break the UI. Also, it's responsive.

PR no. - #277

## Screenshots 👇

![Screenshot 2022-10-16 225607](https://user-images.githubusercontent.com/85431456/196049450-23b847dd-a794-416f-a44a-0b7328452838.png)

[2022-10-16 18:50] durgeshm01722 commented on #268
Added the About Us tab/link in the Navbar as well as Sidebar. It is responsive. 👍

PR no. - #278

## Screenshots 👇

![Screenshot (519)](https://user-images.githubusercontent.com/85431456/196052632-da63bb90-e261-43cf-b453-9f5376e35780.png)

![Screenshot 2022-10-17 000542](https://user-images.githubusercontent.com/85431456/196052634-86b083a9-a2de-4b4c-9ab1-463bc758d391.png)

[2022-10-16 19:09] RajKanani1206 commented on #116
@Debajyoti14 Yes sure, I guess doing all changes in one PR would not be the best solution.

[2022-10-16 19:18] sshiwangi opened #279 "Fix the Overlapping videos in How internet works page"
### Description

The videos are overlapping and also not align in the How internet works page. I would like to fix this issue.

### Screenshots

![clueless](https://user-images.githubusercontent.com/77545230/196053652-76f7a3ea-39cb-44af-ad21-32dfddc88630.png)

### Additional information

_No response_

[2022-10-16 19:18] surbhi400 opened #280 "Fix HTML page Responsiveness"
### Description

The HTML page in the web development section is not responsive for bigger devices. I will improve it's responsiveness.

### Screenshots

![2022-10-17 (2)](https://user-images.githubusercontent.com/77582783/196053774-33329b0b-1427-4d8c-9436-e441fe40df93.png)

### Additional information

_No response_

[2022-10-16 20:25] money8203 commented on #275
I'll suggest to implement a video tutorial on how to install the project environment locally  so that one can clearly understand the process and be able to give feedback if there is any error/bug in the project and it will ease the toughness of project and will become a beginner friendly project.

[2022-10-17 03:23] kasturi019 commented on #280
Please assign me this issue! I can work on it

[2022-10-17 03:32] sshiwangi commented on #279
@Debajyoti14 Please assign me this issue.

[2022-10-17 03:33] surbhi400 commented on #280
@Debajyoti14 I created this issue so please assign it to me.

[2022-10-17 04:42] Debajyoti14 commented on #279
@sshiwangi This page is built with Notion which is a no code tool. So closing this issue

[2022-10-17 04:43] Debajyoti14 commented on #280
@surbhi400 This page is built with Notion which is a no code tool. so closing this issue

[2022-10-17 04:43] #280 closed

[2022-10-17 04:43] #279 closed

[2022-10-17 07:05] rohan9024 commented on #243
@Debajyoti14 close this issue

[2022-10-17 07:05] rohan9024 commented on #226
@Debajyoti14 please assign me this ......... I think he's not working on it

[2022-10-17 07:07] Debajyoti14 commented on #226
@rohan9024 assigned it to you

[2022-10-17 07:08] rohan9024 commented on #226
@Debajyoti14 Alright thanks buddy!

[2022-10-17 07:09] rohan9024 commented on #226
@Debajyoti14 Can I fix the design as well?

[2022-10-17 08:50] rohan9024 opened #282 "Replace images with gifs"
### Description

Can  I replace Low quality Images on hacktoberfest page with animated gifs and improve styling?
If yes, please assign me.

### Screenshots
The meditating image currently being used-

![image](https://user-images.githubusercontent.com/64919642/196133874-a24ba27f-1ad3-44b5-a4ee-95f46586fd46.png)

After adding gif-
https://user-images.githubusercontent.com/64919642/196132949-a5258551

[2022-10-17 09:05] rohan9024 commented on #242
@Debajyoti14 I would like to contribute ....... but I don't know what's he talking about😂

[2022-10-17 12:27] Debajyoti14 commented on #242
@rohan9024 In the add projects modal in the profile section
There is a field mp called Teck stack
Many techstack is missing there as it is a Autocomplete component from mui.

if you would like to contribute, I can assign you as @soustab10 is not responding

[2022-10-17 12:29] #243 closed

[2022-10-17 13:04] rohan9024 commented on #242
@Debajyoti14 hey can you please review my PR and issue?

[2022-10-17 15:30] Debajyoti14 commented on #282
@rohan9024 Adding a lot of gifs is not a good way as it becomes too distracting for a user to surf the website. it's also not going with the theme that well. So, closing this issue.

[2022-10-17 15:30] #282 closed

[2022-10-17 15:31] rohan9024 commented on #282
@Debajyoti14 or maybe adding different images?

[2022-10-17 15:32] Debajyoti14 commented on #242
@rohan9024 Done

[2022-10-17 15:33] Debajyoti14 commented on #275
It not a complex project, just have to copy paste the keys into the .env file and the guide is already there
https://github.com/Clueless-Community/clueless-official-website/blob/main/CONTRIBUTING.md
So, closing this issue.

[2022-10-17 15:33] #275 closed

[2022-10-17 15:34] Debajyoti14 commented on #270
@ankitkumar0622 What's the progress?

[2022-10-17 15:35] Debajyoti14 commented on #259
@tanishk-23 What's the update?

[2022-10-17 15:36] rohan9024 commented on #259
@Debajyoti14 if he's not active .....I would love to design the login page as per the figma file

[2022-10-17 15:39] ankitkumar0622 commented on #270
I have almost finished , it will be done by tomorrow noon , sorry for the delay . @Debajyoti14

[2022-10-17 15:44] Debajyoti14 commented on #270
@ankitkumar0622 no worries 😇

[2022-10-17 16:02] codeswithroh opened #283 "Small UI fix in the contact us page"
### Description

The alignment of the form and the picture is too close in the [contact us](https://www.clueless.tech/contact-us) page. Need proper spacing between the two

### Screenshots

![contact us](https://user-images.githubusercontent.com/77570394/196226237-a5e291e7-8b4d-4cb5-bc00-5bc19a7abfe5.png)

### Additional information

_No response_

[2022-10-17 16:08] codeswithroh opened #284 "No maxlength specified for certain form fields"
### Description

The subject field in the contact us page has no max length set to it.
Problem: Scope of spamming with huge chunks of text as subject

### Screenshots

![maxlength](https://user-images.githubusercontent.com/77570394/196227844-a74add50-ce71-4dd4-8c7a-c7a7b031a869.png)

### Additional information

_No response_

[2022-10-18 09:49] durgeshm01722 commented on #284
Hey admins, I would like to fix this issue. Can you assign it to me?

[2022-10-18 10:21] Kingshuk3006 commented on #269
@yashsarnaik22 are you still working on it??

[2022-10-18 11:27] rohan9024 commented on #259
@Debajyoti14 he's not working on it .......assign me I'll redesign according to the figma file

[2022-10-18 11:28] rohan9024 commented on #269
@Debajyoti14 please assign me if anyone is not working on it

[2022-10-18 11:35] Debajyoti14 commented on #283
@codeswithroh assigning you

[2022-10-18 11:37] Debajyoti14 commented on #116
@RajKanani1206 Make a PR, We will make the changes for the Dark mode

[2022-10-18 11:37] #226 closed

[2022-10-18 11:39] rohan9024 commented on #259
@Debajyoti14 Alright, thanks buddy!

[2022-10-18 11:41] Debajyoti14 commented on #242
If anyone still wants to contribute to add more unique Techstacks. They are welcome

[2022-10-18 11:44] Debajyoti14 opened #290 "Change Rewards and Perks Section Image"
### Description

#### Change the left side image with an appropriate one.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196420467-d5e8c04a-a4dd-4917-89b2-ef51cda3790f.png)

### Additional information

_No response_

[2022-10-18 11:45] rohan9024 opened #291 "Adding hover effects on NavLinks"
Before adding hover-

https://user-images.githubusercontent.com/64919642/196418111-9788bce9-139d-438c-94b3-b05756767daf.mp4

After adding hover-

https://user-images.githubusercontent.com/64919642/196420786-5d7355f8-753c-4240-9688-70cc0dd99b51.mp4

[2022-10-18 11:46] Debajyoti14 opened #292 "Change the Why you should Contribute Image"
### Description

#### Change the right side image with an appropriate image

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196420771-06da7a17-b922-4339-aa23-224c9377c986.png)

### Additional information

_No response_

[2022-10-18 11:46] rohan9024 commented on #291
@Debajyoti14 please assign I have already implemented this

[2022-10-18 11:48] Debajyoti14 commented on #291
@rohan9024 assigned you

[2022-10-18 11:51] durgeshm01722 commented on #292
@Debajyoti14 Can you assign this to me?

[2022-10-18 11:52] durgeshm01722 commented on #290
@Debajyoti14 Can you assign this to me?

[2022-10-18 13:01] durgeshm01722 commented on #290
Fixed this issue in PR no - #288

![Screenshot 2022-10-18 182635](https://user-images.githubusercontent.com/85431456/196436713-767a2d2b-94b4-4aa2-9492-673b0aa614fc.png)

[2022-10-18 13:02] durgeshm01722 commented on #292
Fixed this issue in PR no - #288

![Screenshot 2022-10-18 182700](https://user-images.githubusercontent.com/85431456/196437038-d903b044-82ea-4523-bb9b-f15cf47d1de8.png)

[2022-10-18 13:56] Debajyoti14 commented on #290
@durgeshm01722 The alignment looks weird.
As the image is too big, the right side content should be vertically centered.

[2022-10-18 14:51] durgeshm01722 commented on #292
Thanks 🙌

[2022-10-18 15:13] durgeshm01722 commented on #290
Done 👍

Centering it completely in the vertical direction will make it look somewhat weird because there will be a lot of white space between the heading and the content. That's why centered it in this way. Is it fine?

![Screenshot 2022-10-18 203704](https://user-images.githubusercontent.com/85431456/196470408-279b58ed-3d37-446a-b191-fe3c5e694e00.png)

[2022-10-18 16:43] Sejal-shh commented on #292
Can I solve this please ?

[2022-10-18 16:57] Debajyoti14 commented on #292
@Sejal-shh sorry the problem is already fixed. so closing this issue

[2022-10-18 16:57] #292 closed

[2022-10-19 06:22] RajKanani1206 commented on #116
@Debajyoti14 Done.

[2022-10-19 13:48] devXprite opened #303 "Add a custom Scroll Bar"
## **🚀 Feature Request**

## **Describe the solution you'd like**

* I want to create a custom ScrollBar like this:

https://user-images.githubusercontent.com/80192140/196709513-68cd86ac-7bb9-4d21-8ce7-80664ef5595c.mp4

[2022-10-19 18:03] #242 closed

[2022-10-19 18:12] #291 closed

[2022-10-19 18:12] #290 closed

[2022-10-19 18:18] Debajyoti14 commented on #303
@devXprite already added in production, so closing this issue

[2022-10-19 18:18] #303 closed

[2022-10-19 18:18] Debajyoti14 commented on #270
@ankitkumar0622 any updates?

[2022-10-19 18:19] #284 closed

[2022-10-19 18:55] soustab10 opened #305 "Add <a> links in Sponsors"
## **🐞 Bug Report**
Add anchor tags to redirect to the page of sponsors
### **Describe the bug**

Community partners should have <a> tags such that they direct the user to the main webpage/social handle of the partner when hovered.

### **Screenshots**
![image](https://user-images.githubusercontent.com/95632583/196779418-5ce1ce45-a7bc-4f5f-b5f3-55628db35b3f.png)

If approved, I would like to work

[2022-10-19 19:00] soustab10 opened #306 "Add hover states on Social icons"
## **🐞 Bug Report**

### **Describe the bug**

* Add hover states to social icons in accordance with the theme of the app

---

![image](https://user-images.githubusercontent.com/95632583/196780205-11a3ee0c-a2c4-4617-be0a-71632889673d.png)

If approved, I would like to work on this issue.

[2022-10-19 19:01] NeerajGartia21 commented on #305
I want to work on this issue.
Can you please assign it to me?

[2022-10-19 19:01] NeerajGartia21 commented on #306
I want to work on this issue.
Can you please assign it to me?

[2022-10-19 22:01] #116 closed

[2022-10-19 22:04] Debajyoti14 opened #307 "Fix this Image in Dark Mode"
### Description

#### In Dark mode, Replace this image with the appropriate SVG so that It doesn't go well while toggling between Dark and Light Mode.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196813282-e0f6cfb7-b1aa-46ff-9e14-ac941b6bdc52.png)

### Additional information

_No response_

[2022-10-19 22:05] Debajyoti14 commented on #306
@soustab10 Go for it

[2022-10-19 22:06] Debajyoti14 opened #308 "Fix Guidelines Section in Dark Mode"
### Description

#### Fix the right side dark image as it gets camouflaged with Dark background with dark mode

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196813618-4aa2d78e-c430-4b4c-bc56-7a8e845abb73.png)

### Additional information

_No response_

[2022-10-19 22:10] Debajyoti14 opened #309 "Add Elevation in Footer in Dark mode"
### Description

#### Differentiate the footer from other section by changing the background a little or adding elevation

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196814132-4d20f785-e488-48b2-b6c8-f29b8877bde2.png)

### Additional information

_No response_

[2022-10-19 22:13] Debajyoti14 opened #310 "Fix LoginScreen in Darkmode"
### Description

#### Fix the image on the left side in dark mode

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196814343-fdd615fc-5490-46e6-879f-d593eb326fae.png)

### Additional information

_No response_

[2022-10-19 22:14] Debajyoti14 commented on #305
@soustab10 Assigning you

[2022-10-19 22:15] Debajyoti14 commented on #259
@rohan9024 What's the update?

[2022-10-19 22:16] Debajyoti14 opened #311 "Fix Landing Page in Dark Mode"
### Description

#### Replace the right side Image with a different suitable SVG in Darkmode

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196814964-afde3705-e37e-4d30-9654-9a89155901ed.png)

### Additional information

_No response_

[2022-10-19 22:19] Debajyoti14 opened #312 "Fix Icons for Dark theme"
### Description

#### use svg for Flutter image and change Github Icon to White for DarkMode only.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196815283-22ce0012-7c88-4c9f-b6f4-ca3ebc07c37a.png)

### Additional information

_No response_

[2022-10-19 22:22] Debajyoti14 opened #313 "Change Footer Link URL"
### Description

#### In Quick Links Change the title 'Events and Challenges' from 'Events' and set the URL to https://www.clueless.tech/events

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196815626-b4e16664-d8d1-48e0-9aa2-ee5ef4e9217a.png)

### Additional information

_No response_

[2022-10-19 22:24] Debajyoti14 opened #314 "Fix contact us form for Dark Mode"
### Description

#### The input boxes are not visible in Dark Mode for Contact Us page. Change it accordingly so that the visibility remains intact.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196815918-d67fa6d7-2f78-48d9-9e08-d64029dd2576.png)

### Additional information

_No response_

[2022-10-19 22:25] Debajyoti14 opened #315 "Fix FAQ accordion in Dark Mode"
### Description

#### Fix the accordion colour of FAQ page and change in to dark colour

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196816166-94fe4deb-49bf-4763-b239-f6cc254eb4fa.png)

### Additional information

_No response_

[2022-10-19 22:27] SavvyMeat commented on #309
I'd like to work on this.

[2022-10-19 22:29] Debajyoti14 opened #316 "Fix Leaderboard in Dark mode"
### Description

#### Fix the Leaderboard in Darkmode, so that Visibility remain intact.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/196816635-fe277da9-4521-4310-8e9c-a9de0564efd6.png)

### Additional information

_No response_

[2022-10-19 22:56] LucianeFernandesRoque commented on #313
can I assigne me this issue?

[2022-10-19 23:31] LucianeFernandesRoque commented on #313
Hi! I'ts my PR 'https://github.com/Clueless-Community/clueless-official-website/pull/318'

[2022-10-20 00:32] chibuh commented on #314
Hey, can you assign this issue?
Adding a screenshot, please check if any other changes required.
![image](https://user-images.githubusercontent.com/74678752/196828906-0d7b8568-0d40-4c29-bcf0-fd13ab35c5e5.png)

[2022-10-20 00:41] sutirthverma commented on #312
Hey I would love to work on this issue, can you assign it to me?

[2022-10-20 02:44] RajKanani1206 commented on #312
I will do it. Please assign it to me.

[2022-10-20 02:44] bbsdevloper commented on #307
can I solve this issue? @Debajyoti14

[2022-10-20 02:46] bbsdevloper commented on #311
I want to use some LottieFiles dark animation over there can you assign this to me..

[2022-10-20 02:48] RajKanani1206 commented on #315
I will do it. Please assign it to me.

[2022-10-20 02:48] RajKanani1206 commented on #316
I will do it. Please assign it to me.

[2022-10-20 04:38] rohan9024 commented on #259
@Debajyoti14 I was resolving the branch conflict before ....now working on the login page

[2022-10-20 04:58] soustab10 commented on #305
Can you provide the links of the community partners to which they should redirect?
@Debajyoti14

[2022-10-20 05:14] soustab10 commented on #308
I would like to work on this issue.

[2022-10-20 07:08] Debajyoti14 commented on #305
For Metafy https://metafy.social/

For Flutter Kolkata http://www.flutterkolkata.dev

@soustab10

[2022-10-20 07:09] Debajyoti14 commented on #308
@soustab10 Assigned you

[2022-10-20 07:10] rohan9024 commented on #259
@Debajyoti14 bro brooooo
I need ur help

[2022-10-20 07:10] Debajyoti14 commented on #316
@RajKanani1206 Okay Will review the PR

[2022-10-20 07:11] rohan9024 commented on #259
The UI looks very incomplete ..... can you suggest some ideas?

![image](https://user-images.githubusercontent.com/64919642/196880623-6f41d70a-2513-472a-9a02-9b9884735c08.png)

[2022-10-20 07:12] Kingshuk3006 commented on #315
Assign it  to me

[2022-10-20 07:13] Kingshuk3006 commented on #310
I want to work in this issue

[2022-10-20 07:14] Debajyoti14 commented on #259
@rohan9024 Can you add a blue splash behind the image on the left side?

Make sure it's fluidly responsive

Then I guess it will look great

[2022-10-20 07:14] rohan9024 commented on #259
@Debajyoti14 ohhh alright and anything else??

[2022-10-20 07:16] Debajyoti14 commented on #259
@rohan9024 Add blue splash not on the image but on the text.
Try to experiment a bit , in case it looks better

[2022-10-20 07:17] Debajyoti14 commented on #310
@mohitkumaragrawal assigned you

[2022-10-20 07:21] Debajyoti14 commented on #315
@RajKanani1206 assigned you

[2022-10-20 07:22] Debajyoti14 commented on #311
@bbsdevloper go for it

[2022-10-20 07:23] Debajyoti14 commented on #314
@chibuh looks good.
assigned it to you

[2022-10-20 07:24] Debajyoti14 commented on #313
@LucianeFernandesRoque will review

[2022-10-20 07:25] Debajyoti14 commented on #309
@SavvyMeat will review it

[2022-10-20 10:07] durgeshm01722 commented on #307
Hey, I fixed this issue in PR no - #321

[2022-10-20 10:24] LucianeFernandesRoque commented on #313
Thx

[2022-10-20 11:07] Kingshuk3006 opened #322 "Fix Profile Card Design For Dark Mode"
### Description

Make the design more Eye soothing.
Assign Me for the Issue

### Screenshots

![image](https://user-images.githubusercontent.com/93638401/196932706-22913c3d-a90a-4a8b-a177-1b17cd61cf6a.png)

### Additional information

_No response_

[2022-10-20 11:09] Kingshuk3006 opened #323 "Profile Page Issue"
### Description

Dark Mode color issue
Assign Me for this

### Screenshots

![image](https://user-images.githubusercontent.com/93638401/196933144-b1a013b8-a5ca-4cb8-94a6-a68803a27dd3.png)

### Additional information

_No response_

[2022-10-20 11:20] durgeshm01722 commented on #312
Hey, I fixed this issue in PR no - #324

[2022-10-20 11:53] bbsdevloper commented on #311
![image](https://user-images.githubusercontent.com/99157367/196941301-c7f19bcf-18f5-4f83-bae4-dbeec6b8208b.png)
can you chose ant one or should i go with my choics

[2022-10-20 12:11] soustab10 commented on #306
@Debajyoti14 Please send the credentials. I have mailed to the said mail.

[2022-10-20 12:20] devXprite opened #326 "Bug: Main Homepage Image has white background in dark theme"
### What would you like to share?

### Current:
![alueb](https://user-images.githubusercontent.com/80192140/196946253-0b540aa5-b78f-4773-8ce1-48f35b5d742a.png)

### Expected:
![cluea](https://user-images.githubusercontent.com/80192140/196946275-dbe8d024-c98d-43f0-9895-ad540a182724.png)

### Additional information

_No response_

[2022-10-20 12:20] devXprite commented on #326
I want to work on this issue.

[2022-10-20 12:31] Kingshuk3006 opened #329 "TechStack Github Logo Issue in Dark Mode"
### Description

The github logo becomes unreadable in dark mode
Assign Me As i have Already solved the issue.

### Screenshots

![image](https://user-images.githubusercontent.com/93638401/196949029-70b9eb40-da47-45f0-b161-15cbb1c35f4e.png)

### Additional information

_No response_

[2022-10-20 14:51] #326 closed

[2022-10-20 14:53] #307 closed

[2022-10-20 15:20] Debajyoti14 commented on #323
@Kingshuk3006 assigned you

[2022-10-20 15:21] Debajyoti14 commented on #329
@Kingshuk3006 This issue is already resolved. So, closing this

[2022-10-20 15:29] #283 closed

[2022-10-20 15:39] LucianeFernandesRoque commented on #313
ok

ok

[2022-10-20 17:41] RajKanani1206 commented on #312
Not perfect, i will be adding more appropriate solution soon.

[2022-10-20 17:57] LucianeFernandesRoque commented on #313
Hi @Debajyoti14  I open new PR, u can verify please? thx

[2022-10-20 18:38] devjain2309 opened #333 "Resource Page"
In the navbar, all the elements have the same property except the resource page.
By elaborating on this sentence I would like to share some images.
![Screenshot (37)](https://user-images.githubusercontent.com/69387311/197030633-7a5e8a4e-4f2c-4595-a92a-f4ac05269286.png)
![Screenshot (38)](https://user-images.githubusercontent.com/69387311/197030645-afc07119-2935-4e4f-9dac-117ebb835040.png)

need to

[2022-10-20 23:10] chibuh commented on #333
Do you want the same navBar ins resource section? Please assign thi task to me.

[2022-10-21 14:04] saimaheshtaduri opened #336 "update the swags info"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
At present, information about the swags is not updated.

## **Describe the solution you'd like**
Update the information in the Rewards&Swags section, and also ReadMore button is of no use now, add a github link to it.

[2022-10-21 14:06] saimaheshtaduri opened #337 "add sponser links in home"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
At present, in sponsers section, there's nothing happening hovering over sponsers.

## **Describe the solution you'd like**
on clicking the sponsers, route to their relevant pages.

[2022-10-21 15:10] Hrx4 commented on #337
Hey i can do it , btw by doing this can i get points in leaderboard?

[2022-10-22 13:15] nik132-eng commented on #305
if this is unresolved i want to contribute. Can you please assign me this issue?

[2022-10-22 13:16] soustab10 commented on #305
I am working on it. PR will beade soon. Thanks.

[2022-10-22 13:48] nik132-eng commented on #336
can you assign me this issue?

I want to verify is this thing to add on main website?
![image](https://user-images.githubusercontent.com/77881638/197342564-470cc4e7-f268-4c40-b353-4eea1fd6a27e.png)

[2022-10-22 13:50] nik132-eng commented on #310
if this is unresolved i want to contribute. Can you please assign me this issue?

[2022-10-22 15:34] soustab10 commented on #305
is it okay if add the website link of iNeuron. @Debajyoti14 If yes provide the link for the same.

[2022-10-22 15:44] Debajyoti14 commented on #305
@soustab10 Add that 👍

[2022-10-22 15:55] #314 closed

[2022-10-22 15:58] Debajyoti14 commented on #311
@bbsdevloper Actually we want to keep the previous image itself and the white edges has been fixed. So, closing this issue.

[2022-10-22 15:58] #311 closed

[2022-10-22 16:06] #313 closed

[2022-10-22 16:07] #270 closed

[2022-10-22 16:08] Debajyoti14 commented on #308
@soustab10 What's the Update?

[2022-10-22 16:08] #309 closed

[2022-10-22 16:09] Debajyoti14 commented on #310
@nik132-eng assigned you.

[2022-10-22 16:10] Debajyoti14 commented on #312
@RajKanani1206 You are welcome to add any positive changes

[2022-10-22 16:11] Debajyoti14 commented on #315
@RajKanani1206 Any Progress?

[2022-10-22 16:12] soustab10 commented on #305
Please provide the link of their website/socials?

[2022-10-22 16:12] soustab10 commented on #308
working on it. PR will be made soon.

[2022-10-22 16:13] Debajyoti14 commented on #333
@devjain2309 The resources website is built with a no-code tool called Notion. It doesn't permit such customisation. so, closing this issue.

[2022-10-22 16:13] #333 closed

[2022-10-22 16:14] Debajyoti14 commented on #337
@saimaheshtaduri Closing this issue as it is already listed.

[2022-10-22 16:14] #337 closed

[2022-10-22 16:24] Debajyoti14 commented on #336
@saimaheshtaduri just add this link to the button https://clueless-resources.super.site/hacktoberfest/how-to-get-eligible-for-swags
This will do it

[2022-10-22 16:25] Debajyoti14 opened #340 "Fix uneven height of Project Cards"
### Description

Enhance the card like all the height of the cards remain same irrespective of the card content

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197350573-9c1e84af-9935-4336-9a2b-9d4772ffe9a0.png)

### Additional information

_No response_

[2022-10-22 16:28] Debajyoti14 opened #341 "Fix the Hacktoberfest background colour for dark theme"
### Description

Add a different background for the Hacktoberfest banner for dark theme so that it looks great

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197350615-04c89bcd-516f-4d7d-ae50-e69c00804293.png)

### Additional information

_No response_

[2022-10-22 16:30] SainathPoojary commented on #341
Hey @Debajyoti14, I want to work on this. Please assign it to me

[2022-10-22 16:34] nitoC commented on #340
can you assign this to me?

[2022-10-22 16:47] itsmeAnubhab commented on #340
i would like to fix this.

[2022-10-22 16:50] itsmeAnubhab commented on #341
i would like to work on it.

[2022-10-22 16:54] mnosov622 commented on #341
Hello!

@Debajyoti14 I would love to work on this issue :)

Could you please assign it to me ?

[2022-10-22 17:07] itsmeAnubhab opened #343 "issue: login page in dark mode"
### Description

The image in the login page doesnot fit well for the dark mode.

### Screenshots

![loginissue](https://user-images.githubusercontent.com/91974827/197353172-0eec759a-7d52-4fcf-882d-e0302f3a48f0.PNG)

### Additional information

I would like to work on this issue.

[2022-10-22 17:26] itsmeAnubhab opened #344 "Add a scroll to top button to the about us page."
### Description

About us page needs a scroll to top button.

### Screenshots

_No response_

### Additional information

I would like to work on this issue.

[2022-10-22 17:32] Debajyoti14 commented on #341
Assigning @SainathPoojary as he commented first

[2022-10-22 17:33] Debajyoti14 commented on #344
@itsmeAnubhab Go for it

[2022-10-22 17:41] Debajyoti14 commented on #310
@nik132-eng Stop working on this as the total UI of Lockscreen is revamped.

[2022-10-22 17:41] #310 closed

[2022-10-22 17:43] Debajyoti14 commented on #343
@itsmeAnubhab Closing this issue as the UI is already updated.

[2022-10-22 17:43] #343 closed

[2022-10-22 17:44] Debajyoti14 commented on #340
@nitoC assigned you

[2022-10-22 17:50] Debajyoti14 opened #345 "FIx the community partner Image issue"
### Description

#### Fix the flutter kolkata image by removing its background

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197355321-82b982e3-0b34-4f19-8bf8-f6959a3f77aa.png)

### Additional information

_No response_

[2022-10-22 17:53] itsmeAnubhab commented on #345
i would like to work on it

[2022-10-22 17:55] Debajyoti14 opened #346 "Set default theme as Light Theme"
### Description

#### Set the default theme as Light Theme and remove the option of the system from the toggle.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197355530-f05609c4-48a8-4305-8783-9ad327bffa25.png)

### Additional information

_No response_

[2022-10-22 17:57] Debajyoti14 commented on #345
@itsmeAnubhab assigned you

[2022-10-22 17:59] #305 closed

[2022-10-22 18:14] #306 closed

[2022-10-22 18:25] #336 closed

[2022-10-22 18:52] J0SAL commented on #346
Please assign this to me

[2022-10-22 19:47] kashish0604 commented on #346
hey @Debajyoti14 can you assign this issue to me i can work on it

[2022-10-22 19:51] soustab10 commented on #269
This issue has been fixed by #348

[2022-10-22 20:10] Ishikasaraf20 commented on #340
hey @Debajyoti14 can you assign this issue to me i can work on it

[2022-10-22 20:11] Ishikasaraf20 commented on #341
hey @Debajyoti14 can you assign this issue to me i can work on it

[2022-10-22 20:19] Debajyoti14 commented on #346
@J0SAL Will review your PR

[2022-10-22 20:22] #346 closed

[2022-10-22 20:31] chibuh opened #353 "Fix Edit Profile in Dark Mode"
### Description

The TextField is not visible in the dark mode.

### Screenshots

![image](https://user-images.githubusercontent.com/74678752/197361272-a62d1f57-d85f-43c6-ae27-258649432342.png)

### Additional information

Can you please assign me this issue?

[2022-10-22 21:06] itsmeAnubhab opened #355 "Error in the guidline section of hacktoberfest page"
### Description

In the guidlines section of the hacktoberfest page, the contents of "why you should contribute" is written all over again instead of the actual guidlines.

### Screenshots

![guidlines](https://user-images.githubusercontent.com/91974827/197362452-0e9f750e-dd47-4bcd-afc6-f153b33c6a19.PNG)

### Additional information

I would like to fix this issue.

[2022-10-22 21:09] itsmeAnubhab opened #356 "Add scroll to top button on the hacktoberfest page"
### Description

Hacktoberfest page doesnot have a scroll to top button. So it needs one.

### Screenshots

_No response_

### Additional information

I would like to add the button.

[2022-10-23 03:25] RajKanani1206 commented on #316
@Debajyoti14 I have closed the PR. Let me know once leaderboard is resolved.

[2022-10-23 03:31] RajKanani1206 commented on #315
Working on it. Will update progress soon.

[2022-10-23 06:46] #269 closed

[2022-10-23 07:08] #312 closed

[2022-10-23 07:15] Debajyoti14 commented on #353
@chibuh assigning you.

[2022-10-23 07:16] itsmeAnubhab opened #360 "Profile page dark mode issue"
### Description

The background of the profile page doesnot match the dark theme. The texts are white but the background is also white, so there's no contrast and the text are not visible.

### Screenshots

![logindark](https://user-images.githubusercontent.com/91974827/197379299-57d6c258-f1a7-471a-9173-56e5bdc1592a.PNG)

### Additional information

I would like to solve this issue.

[2022-10-23 07:34] #353 closed

[2022-10-23 08:01] saimaheshtaduri opened #361 "add link to clueless logo in footer"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
At present, the clueless logo in footer isn't taking anywhere.

## **Describe the solution you'd like**
I would prefer that logo in the footer redirect to the home page.

[2022-10-23 08:01] saimaheshtaduri commented on #361
@Debajyoti14

[2022-10-23 08:36] SainathPoojary commented on #341
Hey @Debajyoti14, I have tried some colours, which one do you prefer or is there a suggested background from your side?

### Existing

| Dark Theme | Light Theme |
| ----------- | ----------- |
| ![image](https://user-images.githubusercontent.com/53347682/197382480-4bb0667c-bf07-43b7-b823-5d796a6744fe.png)     | ![image](https://user-images.githubusercontent.com/53347682/197382497-949ad623-ae4a-4d

[2022-10-23 08:39] Debajyoti14 commented on #341
@SainathPoojary Keep the existing colour for light theme but change the colour for dark theme the 2nd one you mentioned

[2022-10-23 09:09] saimaheshtaduri opened #364 "seach bar in leaderboard"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
Its difficult to find the position in leaderboard now.

## **Describe the solution you'd like**
A search bar can help find the position quickly.

[2022-10-23 09:09] saimaheshtaduri commented on #364
@Debajyoti14

[2022-10-23 09:12] Debajyoti14 commented on #364
@saimaheshtaduri assigned you

[2022-10-23 09:13] Debajyoti14 commented on #316
@RajKanani1206 Leaderboard is fixed. You can reopen it now.

[2022-10-23 09:23] Debajyoti14 commented on #361
@saimaheshtaduri assigned you

[2022-10-23 09:24] Debajyoti14 commented on #360
@itsmeAnubhab assigned you

[2022-10-23 09:24] Debajyoti14 commented on #356
@itsmeAnubhab assigned you

[2022-10-23 09:26] Debajyoti14 commented on #355
@itsmeAnubhab already same issue is listed below. So, closing this one

[2022-10-23 09:26] #355 closed

[2022-10-23 09:27] SainathPoojary commented on #341
Hey @Debajyoti14, I have raised a PR, Please review it and do let me know if you need any changes.

[2022-10-23 14:16] #341 closed

[2022-10-23 14:18] #361 closed

[2022-10-23 14:22] Debajyoti14 commented on #322
@Kingshuk3006 Closing this issue as already resolved

[2022-10-23 14:22] #322 closed

[2022-10-23 14:22] #259 closed

[2022-10-23 14:23] #340 closed

[2022-10-23 14:24] #323 closed

[2022-10-23 14:24] #345 closed

[2022-10-23 14:26] #344 closed

[2022-10-23 14:46] snehasish-pathak commented on #356
**I can add scroll to top button on the hacktoberfest page , please assign this issue to me.**

[2022-10-23 15:56] #364 closed

[2022-10-23 15:58] Debajyoti14 opened #367 "Add target=_blank in Community Partners & Sponser Images"
### Description

#### Add target=_blank in Community Partners & Sponser Images so that the links open in new Tab

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197402519-1f98506e-6773-495e-900c-97415a949e8b.png)

### Additional information

_No response_

[2022-10-23 15:59] Anish-Sarawgi commented on #367
Interseted

[2022-10-23 16:02] Debajyoti14 opened #368 "Add a option clear the search input in Leaderboard search"
### Description

#### Add a clear the search button so that people can see the full leaderboard after searching specific name.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197402663-1c0e5741-5386-477f-aedc-e066cdf0a181.png)

### Additional information

_No response_

[2022-10-23 16:03] Debajyoti14 commented on #367
@Anish-Sarawgi assigned you

[2022-10-23 16:06] Debajyoti14 opened #369 "Add Tooltip in the Community Partner and Sponsor section"
### Description

#### Add Tooltip in the Community Partner and Sponsor section after hovering on specific image

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197402897-eabd4de2-4014-477e-8bd1-e1e0acee0e60.png)

### Additional information

_No response_

[2022-10-23 16:08] Debajyoti14 opened #370 "Leaderboard search button set disable with no text and change colour when active"
### Description

The leaderboard search button set is disabled with no text and changes color when active. Set the blue color when the search button is active and set it to gray when disabled.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197402981-dd33c9d8-bac5-4a42-89ea-ea5ceadbe0df.png)

### Additional information

_No response_

[2022-10-23 16:10] Debajyoti14 opened #371 "Set border colour in Team Member section in Dark Mode"
### Description

#### Set border colour in Team Member section in Dark Mode like it's there in light mode

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197403125-75f8de55-58c9-4438-8456-6482f5f4d8f7.png)

### Additional information

_No response_

[2022-10-23 16:13] whyang0808 commented on #371
Hi, can you assign this task to me?

[2022-10-23 16:21] sudhinm commented on #370
Can I work on this?

[2022-10-23 16:26] Anish-Sarawgi commented on #367
@Debajyoti14 i have sent a PR. Please have a look.

[2022-10-23 16:26] Debajyoti14 commented on #371
@whyang0808 assigned you

[2022-10-23 16:26] Debajyoti14 commented on #370
@sudhinm assigned you

[2022-10-23 16:36] JawHawk commented on #368
Hey I can work on this , kindly guide me to the leaderboard page as I am unable to find it on the website.

[2022-10-23 16:39] durgeshm01722 commented on #369
Hey can you assign me this task?

[2022-10-23 16:40] Debajyoti14 commented on #368
@JawHawk assigned you and go to https://www.clueless.tech/hacktoberfest/leaderboard
You will find the leaderboard

[2022-10-23 16:41] Debajyoti14 commented on #369
@durgeshm01722 assigned you

[2022-10-23 16:42] durgeshm01722 commented on #369
Thanks 🙌

[2022-10-23 17:29] durgeshm01722 commented on #369
Issue solved in PR no. - #373

[2022-10-23 17:49] RajKanani1206 commented on #316
@Debajyoti14 I created new PR, you can check it now.

[2022-10-23 19:00] #369 closed

[2022-10-23 19:03] #316 closed

[2022-10-23 19:08] #371 closed

[2022-10-23 19:08] #367 closed

[2022-10-23 20:13] JawHawk commented on #368
I did the button and its functioning as wanted. Just inform if you want to change the text ( "Clear" ) or anything else. If you have no issues, I will proceed to PR.
![clueless](https://user-images.githubusercontent.com/86140365/197415925-95c8507d-0fdf-4206-999d-92a6cfd267a5.PNG)

[2022-10-23 20:15] JawHawk commented on #368
I did the button and it is functioning as wanted. Just inform if you want to change the text ( "Clear" ) or anything else. If you have no issues, I will proceed to PR.
![clueless](https://user-images.githubusercontent.com/86140365/197416035-25ab45e0-b6d4-4f3f-861c-e6eed73b7ea9.PNG)

[2022-10-23 20:19] Debajyoti14 commented on #368
@JawHawk The text Clear would work. What we want is after clicking clear not only the text disappears but also the leaderboard resets to all.So that user doesn't have to press search after clearing the input box

[2022-10-23 20:40] RajKanani1206 opened #378 "Leaderboard search text input for dark mode"
### Description

Leaderboard search text input for dark mode is not having correct text color.

### Screenshots

![image](https://user-images.githubusercontent.com/104709529/197417211-5feb33d5-b8a9-4cca-97cb-a8fd71dd3838.png)

### Additional information

_No response_

[2022-10-24 07:28] #370 closed

[2022-10-24 07:36] #378 closed

[2022-10-24 09:52] sudhinm commented on #370
@Debajyoti14 This is really unprofessional! If you allow code changes from anyone, please do not assign issues to people and waste their time.

[2022-10-24 10:33] Debajyoti14 commented on #370
@sudhinm Really sorry bro. Sometime this mistakes happen as we also have review this much of PRs. I will try to be careful from next time. Hope you understand

[2022-10-24 13:00] itsmeAnubhab opened #383 "Fix mobile view for Navbar"
### Description

The login button is not required in the mobile view as there is already login option present in the hamburger. Also the toggle  theme button is overlapping with clueless logo.

### Screenshots

![WhatsApp Image 2022-10-24 at 6 24 08 PM](https://user-images.githubusercontent.com/91974827/197530769-9746770f-0e29-4e03-89e3-9e2378c3eff4.jpeg)

### Additional information

I would like

[2022-10-24 17:31] TannisthaBiswas opened #385 "Make the "Dive into the world of Development" icons clickable"
Add clickable links to the "Dive into the world of Development" images taking them to documentations or main websites of them. Please assign me with the hacktoberfest tag if you like the idea.
![image](https://user-images.githubusercontent.com/97463197/197589137-07823442-7e67-4fb0-abed-d30b3440e3f8.png)

[2022-10-25 07:38] Debajyoti14 commented on #383
@itsmeAnubhab Assigned you

[2022-10-25 07:39] Debajyoti14 commented on #385
@TannisthaBiswas assigned you

[2022-10-25 07:45] #360 closed

[2022-10-25 13:38] saimaheshtaduri opened #387 "Go to github profile on click in leaderboard"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
Now on clicking on any user in leaderboard, it's taking nowhere

## **Describe the solution you'd like**
I feel it's better if it redirects to corresponding GitHub profile.

[2022-10-25 13:41] saimaheshtaduri opened #388 "Remove search button and show results on typing in searchbox"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
Now the user has to click on search, to get results

## **Describe the solution you'd like**
Instead show the results on typing in searchbox.

*

---

*

[2022-10-25 13:41] saimaheshtaduri commented on #387
@Debajyoti14

[2022-10-25 13:41] saimaheshtaduri commented on #388
@Debajyoti14

[2022-10-25 16:02] TannisthaBiswas commented on #385
On it!

[2022-10-25 17:50] bhavyasingh75 opened #389 "Add specific details to Figma Community Navbar"
![Screenshot (68)](https://user-images.githubusercontent.com/102183018/197845064-c6a924a2-eae3-4f97-9305-d115a3d303a6.png)

I was going through the resources when I came across Figma resources and a navbar displaying "official website".
Where should the "official website" should be redirecting? Could you please clarify?
 I thought that it would redirect me to Figma's official website but it  heade

[2022-10-25 19:19] bhavyasingh75 commented on #385
On it.

[2022-10-25 20:32] Rajdip019 commented on #387
Go ahead @saimaheshtaduri

[2022-10-25 20:51] itsmeAnubhab opened #391 "UI error in the visitor's view of profile."
### Description

UI error in the visitor's view of profile.

### Screenshots

![image](https://user-images.githubusercontent.com/91974827/197879338-609ef3cb-4f2b-4e2e-b390-2eae951cd740.png)

### Additional information

_No response_

[2022-10-26 07:15] Debajyoti14 commented on #388
@saimaheshtaduri Go ahead

[2022-10-26 07:18] Debajyoti14 commented on #389
@bhavyasingh75 Thanks for your concern but this resources page is built with notion which is a No-code tool. So, We can't do much with it. So, Closing this issue.

[2022-10-26 07:18] #389 closed

[2022-10-26 07:18] Debajyoti14 commented on #391
@itsmeAnubhab Go for it

[2022-10-26 07:32] Debajyoti14 opened #393 "Fix Profile Project Card for Admin"
### Description

#### Fix the width of the project card in Profile Admin View so that it looks nice.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197962575-82edd715-14f2-4e8a-a8a7-c206882c3394.png)

### Additional information

_No response_

[2022-10-26 07:40] Debajyoti14 opened #394 "Add a loader while saving details in Profile screen"
### Description

#### It takes some time while saving user profile details. So, add a Profile spinner so that it indicates loading time

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197964303-77bfb888-4cd3-4b32-b014-ee6e4c5ed0a0.png)

### Additional information

_No response_

[2022-10-26 07:42] Debajyoti14 opened #395 "Center align the college name in Profile Page"
### Description

Align the text center so that the college name looks good.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197964864-23556646-1f22-47d7-81c3-c00004d7564c.png)

### Additional information

_No response_

[2022-10-26 07:44] Debajyoti14 opened #396 "Add hover effect on the profile social icons"
### Description

#### Add hover effect on the profile social icons and also decrease it's size little bit so that it looks good.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197965211-d24fedad-ed46-4b89-8202-db80c70d84cc.png)

### Additional information

_No response_

[2022-10-26 07:46] Debajyoti14 opened #397 "Fix the Tech stack colour in dark theme in Profile Page"
### Description

#### Fix the profile Tech stack colour so that it looks good in dark theme

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197965581-c4fbe632-51b7-4092-955d-f5ec28d4eb9f.png)

### Additional information

_No response_

[2022-10-26 07:55] Debajyoti14 opened #398 "Fix Add project section for Dark Theme"
### Description

#### Fix the add project section in dark theme in profile admin page

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197967638-d28109d6-5315-405f-8335-4f93d9c6a2d2.png)

### Additional information

_No response_

[2022-10-26 07:58] kheersagar commented on #396
hey,
I am a newbie in open source, I came across this issue and I can contribute to this project by Fixing this bug, can you assign me this bug?

[2022-10-26 07:58] Debajyoti14 commented on #393
Use this layout for fixing it which is in visitor view of the profile

![image](https://user-images.githubusercontent.com/91759192/197968438-a806bd68-cebd-46df-aa37-25e8a3e8ed0e.png)

[2022-10-26 08:00] kheersagar commented on #395
hey, can I contribute to this? can you assign me this bug?

[2022-10-26 08:02] Debajyoti14 opened #399 "Fix case sensitivity in Leaderboard Search"
### Description

Now if we type a letter in Uppercase instead of lowercase the search doesn't show any results. So, Fix this as Case sensitivity will not remain an issue.

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/197969076-da58e4a7-4986-46ef-9782-91a7b34e7004.png)

### Additional information

_No response_

[2022-10-26 08:07] Debajyoti14 commented on #395
@kheersagar assigned you

[2022-10-26 08:07] Debajyoti14 commented on #396
@kheersagar Go for it

[2022-10-26 09:36] its-ayush-07 commented on #394
I'd like to work on this issue

[2022-10-26 10:20] Debajyoti14 commented on #399
@its-ayush-07 assigned you

[2022-10-26 10:45] Debajyoti14 commented on #396
after @kheersagar will assign you @Mayureshkaulwar

[2022-10-26 11:15] RajKanani1206 commented on #397
I will like to work on it. Please assign it to me.

[2022-10-26 11:16] RajKanani1206 commented on #393
I will like to work on it. Please assign it to me.

[2022-10-26 11:24] Debajyoti14 commented on #398
@RajKanani1206 assigning you

[2022-10-26 11:24] Debajyoti14 commented on #397
@RajKanani1206 assigned you

[2022-10-26 11:25] Debajyoti14 commented on #393
@RajKanani1206 assigned you

[2022-10-26 14:13] Pawar999 commented on #388
Amazing

[2022-10-26 14:16] Pawar999 opened #403 "[FEATURE] <description>"
### Description

General Feature is Amazing

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-26 14:34] kheersagar commented on #395
Unable to recreate the issue
# Image
<img width="301" alt="image" src="https://user-images.githubusercontent.com/73149618/198055248-67b0ee63-0e01-41e9-859f-8b9327e76344.png">

[2022-10-26 14:54] Blazeleo commented on #397
Hi I would liek to work on this as well, can I?

[2022-10-26 16:09] kheersagar opened #407 "Avatar Initial alignment issue"
### Description

If the avatar is a letter than there is an alignment issue, It should be aligned center.

### Screenshots

<img width="850" alt="image" src="https://user-images.githubusercontent.com/73149618/198078063-0f841267-cd70-4271-9eaf-2b1562bddb33.png">

### Additional information

[2022-10-26 16:10] kheersagar commented on #407
Can I fix this?

[2022-10-27 02:08] #387 closed

[2022-10-27 02:14] #315 closed

[2022-10-27 02:18] Debajyoti14 commented on #308
@soustab10 Any Progress?

[2022-10-27 02:19] #356 closed

[2022-10-27 02:19] #368 closed

[2022-10-27 02:20] Debajyoti14 commented on #385
@TannisthaBiswas Any Update?

[2022-10-27 02:20] #388 closed

[2022-10-27 02:20] #397 closed

[2022-10-27 02:23] #394 closed

[2022-10-27 02:23] bhavyasingh75 commented on #385
slight glitch at my end.
sending the pr in a few moment.

[2022-10-27 02:24] Debajyoti14 commented on #395
@kheersagar I think it's happening due to screen size. You should see if it's breaking in smaller screens as it exists in my screen

[2022-10-27 02:25] #399 closed

[2022-10-27 02:26] Debajyoti14 commented on #403
@Pawar999 Closing this issue as there is nothing understandable in the issue

[2022-10-27 02:26] #403 closed

[2022-10-27 02:26] Debajyoti14 commented on #407
@kheersagar Go for it

[2022-10-27 02:32] kheersagar commented on #395
ok

[2022-10-27 02:32] Debajyoti14 opened #412 "Change this left Image for Rewards and Perks"
### Description

#### Change this left Image for Rewards and Perks with an appropriate image which goes well with the theme

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/198176980-8006a01c-313d-4f08-bb1b-f3d61089ed41.png)

### Additional information

_No response_

[2022-10-27 02:34] Debajyoti14 opened #413 "Fix the bg for Add Project in Admin Profile Dark Theme"
### Description

#### Change the bg to dark in Dark Theme of the Add Project Section and also change the border colour to White and also increase the size of the Plus Icon so that it looks great

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/198177234-f085c950-db10-4d24-9806-f1e1f5810cc2.png)

### Additional information

_No response_

[2022-10-27 02:39] Debajyoti14 opened #414 "Fix Icon colours in Profile Project Card"
### Description

#### Fix the Colour and its hover state color of the Profile Project Card in Dark Theme

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/198177715-c91c22c4-93b5-46df-8b28-24a5eecc7e86.png)

### Additional information

_No response_

[2022-10-27 02:48] Debajyoti14 opened #416 "Add space between Title and Project Cards"
### Description

#### Add some space between the two so that it looks good

### Screenshots

![image](https://user-images.githubusercontent.com/91759192/198178931-a01365a6-89df-4933-9d21-beb468b01c3a.png)

### Additional information

_No response_

[2022-10-27 02:55] kheersagar commented on #416
please assign me this

[2022-10-27 03:00] SarveshPatil29 opened #418 "Add hover effect to name and image of person on leaderboard"
### What would you like to share?

## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* Currently there is no effect when you hover over the username or image of a person in the leaderboard

---

## **Describe the solution you'd like**

* I would like to add these changes

---

### Additional information

_No response_

[2022-10-27 03:02] Debajyoti14 commented on #418
@SarveshPatil29 assigned you

[2022-10-27 03:07] sumateja commented on #414
Please assign this to me

[2022-10-27 03:12] Debajyoti14 commented on #414
@sumateja assigned you

[2022-10-27 03:14] SarveshPatil29 commented on #418
@Debajyoti14 please add hacktoberfest labels as well

[2022-10-27 03:18] SarveshPatil29 commented on #413
Hey @Debajyoti14, I would like to work on this issue

[2022-10-27 03:21] Debajyoti14 commented on #413
@SarveshPatil29 assigned you

[2022-10-27 03:49] najeebkp commented on #412
please assign this to me @Debajyoti14

[2022-10-27 03:49] Debajyoti14 commented on #412
@najeebkp assigned you

[2022-10-27 06:27] SarveshPatil29 commented on #416
Hey @Debajyoti14 I am interested in this. Can you please assign me this?

[2022-10-27 06:40] Debajyoti14 commented on #416
@kheersagar assigned you

[2022-10-27 06:56] TannisthaBiswas commented on #385
Working on it. will probably be done by the end of the day 👍

[2022-10-27 10:35] gaut2003 commented on #412
Please assign this to me. @Debajyoti14

[2022-10-27 10:36] gaut2003 commented on #308
Please assign this to me is possible. @Debajyoti14 Since @soustab10 has not responsed.

[2022-10-27 10:39] kheersagar commented on #416
Unable to recreate the issue, tried on a bigger and smaller screen as well.
<img width="238" alt="image" src="https://user-images.githubusercontent.com/73149618/198263136-5659964b-283b-48e3-a2aa-a7739e43718a.png">

[2022-10-27 13:53] #418 closed

[2022-10-27 14:13] #413 closed

[2022-10-27 14:15] #412 closed

[2022-10-27 14:15] #407 closed

[2022-10-27 14:15] #396 closed

[2022-10-27 14:15] #395 closed

[2022-10-27 14:16] Debajyoti14 commented on #308
@gaut2003 assigned you

[2022-10-27 14:16] #391 closed

[2022-10-27 16:00] sumateja commented on #414
Am waiting for credentials to run this project , can you help me i have already sent email

[2022-10-28 04:49] saimaheshtaduri opened #428 "hide clear when search box is empty"
## **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
clear button is of no use if search-box in leaderboard is empty.

## **Describe the solution you'd like**
show clear only when search box is not empty

@Debajyoti14

[2022-10-28 07:38] kheersagar commented on #393
hey, if this issue is still pending I can work on it?

[2022-10-28 07:41] RajKanani1206 commented on #393
Nope, I'm working on it and will be done by today.

[2022-10-28 08:29] Debajyoti14 commented on #308
@gaut2003 any updates???

[2022-10-28 08:29] Debajyoti14 commented on #383
@itsmeAnubhab Closing this issue for now

[2022-10-28 08:29] #383 closed

[2022-10-28 08:33] Debajyoti14 commented on #414
@sumateja Sent it to you

[2022-10-28 08:35] Debajyoti14 commented on #416
ok @kheersagar unassigning you then and assigning @SarveshPatil29. If he doesn't also get this issue, then will close it

[2022-10-28 09:37] Vanshiii203 opened #430 "[FEATURE] styling contact us section"
### Description

I would like to style the contact us section

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-28 11:03] Rajdip019 commented on #430
Can you show what you are thinking about the contact us section? @Vanshiii203

[2022-10-28 11:04] durgeshm01722 commented on #385
Can I work on this feature? Please assign me this task.

[2022-10-28 11:05] Debajyoti14 commented on #385
@durgeshm01722 assigned you

[2022-10-28 11:07] durgeshm01722 commented on #385
Thanks 🙌

[2022-10-28 12:25] Vanshiii203 commented on #430
Hey @Rajdip019
I would like to  add the form in a vertical card having glass effect and would like add a background to that page.
I've Attached an image for your reference.

![Screenshot (510)](https://user-images.githubusercontent.com/94471189/198586089-58af2d63-1a08-4eb5-87b7-1607d74fb958.png)

[2022-10-28 13:09] durgeshm01722 commented on #385
Issue solved in PR no. - #431

[2022-10-28 13:12] sumateja commented on #414
How can i login as admin what is the url ?

[2022-10-28 13:14] Debajyoti14 commented on #414
@sumateja Check your profile it will automatically be in admin mode

[2022-10-28 13:23] sumateja commented on #414
Profile how , when i click on login all i see is Google & github @Debajyoti14

[2022-10-28 13:39] Debajyoti14 commented on #414
@sumateja first login into your Google account, then you will see your profile which is admin view itself

[2022-10-28 14:21] RajKanani1206 opened #432 "Navbar Alignment Fix"
### Description

Navbar options alignment is not proper. I guess a recent PR to fix position of dark/light mode button made this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/104709529/198641556-79496c54-2bdd-4d5c-ac45-80e9469a6f88.png)

### Additional information

_No response_

[2022-10-28 14:22] RajKanani1206 commented on #432
I would like to work on it. Please assign it to me.

[2022-10-28 15:13] #385 closed

[2022-10-28 15:15] #428 closed

[2022-10-28 15:21] #393 closed

[2022-10-28 15:27] Debajyoti14 commented on #430
@Vanshiii203 There image u referenced doesn't go with the theme of our website. Anything else?

[2022-10-28 15:28] Debajyoti14 commented on #432
@RajKanani1206 assigned you

[2022-10-28 15:29] Vanshiii203 commented on #430
I have just referenced it for the card and glass effect. I'll add a light theme background as the website has a light theme

[2022-10-28 15:30] Debajyoti14 commented on #430
@Vanshiii203 But in our entire website Glassmorphism isn't used anywhere. So, it will be weird to just add it for the sake of Contact us page.

[2022-10-28 15:38] Vanshiii203 commented on #430
What do you think about this one?
![Screenshot (511)](https://user-images.githubusercontent.com/94471189/198677282-8c8ca4e8-ce93-475c-b7a9-f3dcc2b76a69.png)

[2022-10-28 15:51] Debajyoti14 commented on #430
@Vanshiii203 our's contact us layout is almost same.For now, The contact us layout is good. So, closing this issue

[2022-10-28 15:51] #430 closed

[2022-10-29 03:19] SarveshPatil29 commented on #416
@Debajyoti14 same for me as well. You may close this issue now.

[2022-10-29 06:37] #432 closed

[2022-10-29 08:17] encodeArnab commented on #416
Hi @Debajyoti14, I can try to fix this bug, please assign it to me.
Thank You

[2022-10-30 10:08] Debajyoti14 commented on #416
@encodeArnab are you able to reproduce this issue? Then I will close this issue

[2022-10-31 17:35] #414 closed

[2022-10-31 17:36] Debajyoti14 commented on #416
@encodeArnab Closing this issue

[2022-10-31 17:36] #416 closed

[2022-10-31 18:07] #308 closed

[2022-11-03 08:59] RajKanani1206 opened #441 "Search Bar Collapse"
### Description

Search bar is getting collapsed from end when typed something

### Screenshots

https://user-images.githubusercontent.com/104709529/199681355-09b5d452-e98c-4d1e-9516-f7baee8a9c57.mp4

### Additional information

_No response_

[2022-11-15 10:22] RajKanani1206 commented on #441
@Debajyoti14